@charset "UTF-8";
/* NINETY 90 QUISE HACERLA CON ESTILO OCHENTOSO Y CON COSAS DE NEON PORQUE SE TRATA DE VENTAS DE CUADROS DE ESA EPOCA Y DE LOS 90 */
/*ESPERO QUE TE GUSTE EL ESTILO QUE LE PUSE ME COSTO MUCHO TRABAJO LLEGAR A ESTO NO QUEDO NADA QUE VER A LO QUE ERA LA PRIMERA PRE ENTREGA 
TRATE DE APLICAR TODAS LAS COSAS QUE ME ENSEÑARON ME QUEDA TODAVIA MEJORAR LAS OTRAS PAGINAS*/
/*DE MANERA ORDENADA ORGANICE TODO EN SECCIONES
CREE VARIOS ARCHIVOS DE SCSS DE CADA SECCION DE LA PAGINA PARA QUE SE ME HAGA MAS FACIL
MODIFICAR TODO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Agregue esta propiedad porque nose porque me hacia una barra lateral cuando estaba en modo mobile y funciono*/
  max-width: 100% !important; }

/*CREE VARIABLES PARA NO REPETIR CODIGO Y DISTINGIR CADA ALGUN COLOR,FUENTE,ETC */
/*TIPOGRAFIA*/
/*TAMAÑO FUENTE*/
/* hice solo un mapa que es este GROSOR FUENTE*/
/*COLORES*/
/*$color-borde :#42063eb3;*/
/*$color-violeta-2: rgba(121, 7, 81, 0.689);*/
/*ESPACIADOS*/
/*letras*/
/*palabras*/
/*TAMAÑOS*/
/*BORDES*/
/*MARGENES*/
/*PADDING*/
/*SOMBRAS*/
/*ESTE ES EL RESETEO DEL SITIO WEB */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Agregue esta propiedad porque nose porque me hacia una barra lateral cuando estaba en modo mobile y funciono*/
  max-width: 100% !important; }

/* MIXINS */
/*ORDENE LAS FUENTES ACA*/
/*FUENTES*/
@font-face {
  font-family: orbi;
  src: url(../asset/Fuentes/Orbitron-Regular.ttf); }

@font-face {
  font-family: poppins;
  src: url(../asset/Fuentes/Poppins-Regular.ttf); }

@font-face {
  font-family: poppins_2;
  src: url(../asset/Fuentes/Poppins-ExtraLight.ttf); }

@font-face {
  font-family: monserrat;
  src: url(../asset/Fuentes/Montserrat-Regular.ttf); }

/* APLICANDO ALGUNOS ESTILOS AL BODY DE TODAS LAS PAGINAS
UTILICE VARIABLES PARA DAR ESPACIADOS,COLOR Y FUENTE*/
body {
  background-color: #01010a;
  font-family: monserrat;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 1em;
  color: #cbcbcbe4;
  font-weight: 100;
  /* max-width: 100% !important;
    overflow-x: hidden !important;*/ }

.body_contacto {
  background-color: #01010a;
  font-family: monserrat;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #cbcbcbe4;
  font-weight: lighter; }

.pantalla_principal {
  position: relative;
  background: linear-gradient(rgba(255, 0, 111, 0.196), black), url(../asset/imagenes/seccion_inicio_fondos/pantalla-principal-1440-768.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .pantalla_principal p {
    font-size: 40px;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 4px;
    padding-top: 300px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.693);
    text-shadow: 5px 6px 1px #930748; }
  .pantalla_principal span {
    font-size: 60px;
    color: #ff0d82; }
  .pantalla_principal .salto_pagina {
    padding-top: 50px;
    padding-bottom: 100px; }
    .pantalla_principal .salto_pagina .salto_pagina_icono {
      font-size: 70px;
      /* text-shadow: 0px 20px 2px black;*/
      color: rgba(255, 255, 255, 0.234); }

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
/* Móviles en vertical 
------------------------------------------------------------------------- */
@media (max-width: 480px) {
  .pantalla_principal {
    height: 100%;
    background: black; }
    .pantalla_principal p {
      font-size: 1.5em;
      line-height: 3;
      word-spacing: 10px;
      letter-spacing: 2px;
      padding-top: 150px; }
    .pantalla_principal span {
      font-size: 1em; }
    .pantalla_principal .salto_pagina {
      padding-bottom: 6em; }
      .pantalla_principal .salto_pagina .salto_pagina_icono {
        font-size: 50px; } }

/*HEADER*/
/*Aca comence a darle estilos al header*/
/* queria hacer un header */
/*NAV*/
/*Use el nav de boodstrap*/
/*Personalice el menu como yo lo queria 
  ANIDE TODO Y QUEDO MAS ORDENADO Y CON MAYOR ESPICIDAD*/
header {
  background-color: #000000d4;
  position: sticky;
  top: 0px;
  z-index: 10;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-bottom: 1px solid #4b0b2b78; }
  header .navbar .navbar-nav .nav-item .nav-link {
    color: #ff0d82;
    letter-spacing: 5px;
    margin-right: 15px;
    font-size: 12px;
    /*font-weight: bolder;*/
    /* UTILICE CASI TODO VARIABLES PARA HACER EL HOVER*/ }
    header .navbar .navbar-nav .nav-item .nav-link:hover {
      font-weight: bold;
      color: #ffffff;
      text-shadow: 2px 2px 10px #130847;
      border: 2px solid #ff0d82;
      border-radius: 5px;
      background-color: #10000dfc;
      box-shadow: 2px 2px 50px 2px #ff0d82;
      transition: all 0.6s; }

/* FLUX*/
/* Efecto neon PARA LOGO
  ACA TMBN UTILICE VARIABLES */
.flux {
  font-weight: bold;
  letter-spacing: 10px;
  font-family: orbi;
  color: #f789d2;
  font-size: 6vw;
  text-shadow: 0 0 3vw #ffffff;
  animation: flux 4s linear infinite;
  -moz-animation: flux 4s linear infinite;
  -webkit-animation: flux 4s linear infinite;
  -o-animation: flux 4s linear infinite; }

/*UTILICE VARIABLES PARA DARLE EL EFECTO NEON EN EL TEXT-SHADOW Y EL COLOR*/
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #ff0d82, 0 0 3vw #ff0d82, 0 0 10vw #ffffff, 0 0 10vw #000000, 0 0 0.4vw #000000, 0.5vw 0.5vw 0.1vw #130847;
    color: #3ce7ed; }
  50% {
    text-shadow: 0 0 0.5vw #130847, 0 0 1.5vw #e537e887, 0 0 5vw #520880, 0 0 5vw #520880, 0 0 0.2vw #520880, 0.5vw 0.5vw 0.1vw #130847;
    color: #ef5abe; } }

/*BANNER*/
/*puse una imagen de fondo y le aplique gradientes para que resalte el texto y la imagen */
.banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../asset/imagenes/seccion_inicio_fondos/banner4-min.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /*border-bottom: 2px solid $color-borde;*/
  box-shadow: 15px 15px 100px 15px #000000d4; }
  .banner .background-overlay1 {
    background: rgba(23, 23, 23, 0.437) f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .banner .background-overlay1 div div {
      /* BOTON VER CATALOGO*/ }
      .banner .background-overlay1 div div .titulo_banner {
        letter-spacing: 3px;
        color: #ff3780;
        font-weight: bold !important; }
      .banner .background-overlay1 div div p {
        font-family: poppins_2 !important;
        font-size: 1em; }
      .banner .background-overlay1 div div .btn:hover {
        font-size: 25px;
        background: #00000032;
        box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
        transition: all 0.5s; }
    .banner .background-overlay1 .imagenes {
      width: 25vw;
      border-radius: 15px;
      box-shadow: 20px 20px 30px 15px #000000; }

/*BANNER_2*/
.banner_2 {
  background-color: rgba(3, 2, 25, 0.5);
  height: 200px;
  margin-top: 34vh;
  margin-bottom: 30vh;
  color: #cbcbcbe4;
  text-shadow: 4px 5px 1px #930748; }
  .banner_2 div .contenedor_iconos {
    font-size: 15px;
    width: 8vw;
    height: 12vh;
    border: 6px solid #ff004c; }
  .banner_2 div p {
    font-size: 1vw;
    text-shadow: none; }

.banner_2 div .contenedor_iconos_tel {
  font-size: 15px;
  width: 6vw;
  height: 12vh;
  border: 6px solid #ff004c; }

.banner_2 div p {
  font-size: 1vw; }

.banner_2 div .contenedor_iconos_tarjeta {
  font-size: 14px;
  width: 6vw;
  height: 12vh;
  border: 6px solid #ff004c; }

.banner_2 div p {
  font-size: 1vw; }

/*CARDS*/
.container-fluid .titulo {
  /*background-color: rgba(22, 7, 36, 0);*/
  font-size: 3em;
  line-height: 3;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 20vh;
  letter-spacing: 15px;
  text-shadow: 7px 2px 2px #930748; }

.container-fluid .row .caja_tarjetas {
  /* width:24% ;
             height:97vh ;*/
  height: 730px;
  width: 350px;
  margin-bottom: 5em;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background: #00000032;
  border-radius: 15px;
  border: 2px solid #ff0d82;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 300ms; }
  .container-fluid .row .caja_tarjetas .contenido_img {
    height: 400px;
    width: 290px;
    border-radius: 15px;
    overflow: hidden; }
    .container-fluid .row .caja_tarjetas .contenido_img img {
      height: 100%;
      width: 110%;
      transition: all 200ms;
      /* aplique un poco de animacion al tocar con el cursor*/ }
      .container-fluid .row .caja_tarjetas .contenido_img img:hover {
        transform: scale(1.6); }
  .container-fluid .row .caja_tarjetas .borde_titulos {
    text-shadow: 5px 3px 1px #930748;
    border: 2px solid #ff0d82;
    background-color: #f168cf00;
    border-radius: 5px; }
  .container-fluid .row .caja_tarjetas div form .boton_comprar {
    font-weight: bold;
    width: 7em;
    color: #cbcbcbe4;
    background: #00000032;
    border-radius: 5px;
    border: 2px solid #ff004c; }
    .container-fluid .row .caja_tarjetas div form .boton_comprar:hover {
      font-weight: bold;
      color: #000000;
      background: #f9f9f9d7;
      box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
      width: 8em;
      height: 2em;
      transition: all .5s; }

@media (max-width: 480px) {
  .container-fluid .titulo {
    font-size: 1.6em;
    line-height: 3;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 5vh;
    letter-spacing: 10px; } }

/*@media  screen and (min-width: 360px) and (max-width: 768px) {
	
}*/
/*SECTION 80 Y 90 */
.section_80_90 {
  margin-top: 2%;
  padding-top: 15%;
  padding-bottom: 20%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../asset/imagenes/seccion_inicio_fondos/pexels-cottonbro-4842564.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000032;
  /*box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);*/
  border-radius: 2px;
  /*border: 3px solid rgba(161, 48, 218, 0.362);*/
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); }
  .section_80_90 .fila_80 {
    padding-bottom: 15%; }
    .section_80_90 .fila_80 div div a img {
      border-radius: 10px; }
      .section_80_90 .fila_80 div div a img:hover {
        box-shadow: 0 0 5px #000000, 0 0 25px #e537e887, 0 0 50px #ff0d82, 0 0 200px #e537e887; }
    .section_80_90 .fila_80 div p {
      font-size: 20px;
      font-weight: lighter;
      line-height: 2;
      word-spacing: 2px; }
  .section_80_90 .fila_90 {
    padding-bottom: 15%;
    padding-top: 10%; }
    .section_80_90 .fila_90 div div a img {
      border-radius: 10px; }
      .section_80_90 .fila_90 div div a img:hover {
        box-shadow: 0 0 5px #000000, 0 0 25px #e537e887, 0 0 50px #ff0d82, 0 0 200px #e537e887; }
    .section_80_90 .fila_90 div p {
      font-size: 20px;
      font-weight: lighter;
      line-height: 2;
      word-spacing: 2px; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-25px); }
  100% {
    transform: translateY(0); } }

.contenedor_2x1 {
  border-top: 2px solid #e537e887;
  border-bottom: 2px solid #e537e887;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background-color: black !important;
  width: 100%; }
  .contenedor_2x1 .section_propaganda {
    /*margin-top: 10vh;*/
    /*box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);*/
    /*box-shadow: 0px 0px 50px rgb(255, 1, 208);*/
    /* border-top: $borde-s solid $color-violeta;
        border-bottom: $borde-s solid $color-violeta;*/
    height: 35vw;
    width: 100%; }
    .contenedor_2x1 .section_propaganda div h2 {
      font-size: 2vw;
      line-height: 2;
      letter-spacing: 2px;
      word-spacing: 5px;
      font-weight: bold;
      color: white;
      text-shadow: 5px 0px 20px rgba(18, 62, 132, 0.696); }
    .contenedor_2x1 .section_propaganda div span {
      color: #ff0d82;
      font-size: 4vw; }
    .contenedor_2x1 .section_propaganda div p {
      font-size: 1vw;
      padding-top: 0.8vh;
      line-height: 2;
      letter-spacing: 2px;
      word-spacing: 5px;
      font-weight: 300;
      color: #ff0d82;
      text-shadow: 5px 0px 20px rgba(18, 62, 132, 0.696); }
    .contenedor_2x1 .section_propaganda .contenedor_propaganda {
      height: 30vw;
      width: 30vw; }

main .contenedor_productos {
  padding-top: 100px; }

/* PAGINA INFORMACION*/
main .section_80 {
  height: 1000px;
  position: relative;
  background: url(../asset/imagenes/404/et-enbici-fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000032;
  /*box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);*/
  border-radius: 2px;
  /*border: 3px solid rgba(161, 48, 218, 0.362);*/
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); }
  main .section_80 .info_80 {
    margin-top: 60px;
    padding-top: 80px; }
    main .section_80 .info_80 .texto_80_90 {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 1px;
      word-spacing: 2px; }
  main .section_80 .caja_video {
    padding-top: 5px;
    margin-left: 150px;
    margin-top: 700px;
    width: 70%;
    border: 4px solid rgba(0, 0, 0, 0.623); }

main .section_90 {
  height: 1000px;
  position: relative;
  background: url(../asset/imagenes/Seccion_ifo/mipobreangelito-fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000032;
  /*box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);*/
  border-radius: 2px;
  /*border: 3px solid rgba(161, 48, 218, 0.362);*/
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  margin-top: 100vh; }
  main .section_90 .info_80 {
    margin-top: 60px;
    padding-top: 80px; }
    main .section_90 .info_80 .texto_80_90 {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 1px;
      word-spacing: 2px; }
  main .section_90 .caja_video {
    padding-top: 5px;
    margin-left: 80px;
    margin-top: 700px;
    width: 70%;
    border: 4px solid rgba(0, 0, 0, 0.623); }

main h3 {
  text-shadow: 5px 3px 1px #930748;
  font-size: 40px;
  line-height: 2;
  word-spacing: 10px;
  letter-spacing: 10px;
  font-weight: bold;
  /*text-shadow: 5px 0px 20px rgb(255, 0, 208);*/
  padding-top: 150px;
  padding-bottom: 30px; }

main .caja_informacion {
  padding-top: 5px;
  height: 35rem;
  margin-top: 5px; }
  main .caja_informacion .caja_texto .texto_info {
    line-height: 2;
    word-spacing: 2px;
    font-weight: 100; }

main div .contenedor_img {
  background-image: linear-gradient(to right top, #33071c, #2d081a, #270818, #220715, #1d0512, #1a040f, #16020c, #110108, #0e0106, #0a0003, #050002, #000000); }

main .contenedor_envios {
  margin-top: 80px; }
  main .contenedor_envios div {
    background-color: aqua; }
  main .contenedor_envios div {
    background-color: rgba(0, 0, 0, 0); }
    main .contenedor_envios div h4 {
      letter-spacing: 10px;
      font-weight: bold;
      color: #ff0d82; }
    main .contenedor_envios div p {
      letter-spacing: 1px;
      line-height: 2;
      color: #cbcbcbe4; }

/* PAGINA CONTACTO*/
/* Contenedor del formulario de contacto*/
section div .caja_contacto {
  padding-top: 20px;
  height: 600px;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background: #00000032;
  border-radius: 15px;
  border: 2px solid #ff0d82;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 300ms; }
  section div .caja_contacto .form {
    /*Utilice @extend para llevarme los estilos del input a los otros componentes del formulario*/ }
    section div .caja_contacto .form input, section div .caja_contacto .form textarea, section div .caja_contacto .form .boton_contacto {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: none;
      color: #ffffff;
      border-bottom: 2px solid rgba(70, 37, 69, 0.675); }
    section div .caja_contacto .form .boton_contacto {
      font-weight: bold;
      width: 18em;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      border: solid #a4a4a497; }
      section div .caja_contacto .form .boton_contacto:hover {
        color: #000000;
        border: 3px solid #520880;
        background: #ffffff;
        box-shadow: 0 0 5px #ff0d82, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887; }
  section div .caja_contacto ul {
    list-style: none; }
  section div .caja_contacto div {
    /*Mapa de google*/ }
    section div .caja_contacto div .mapa {
      border-radius: 15px;
      width: 300px;
      height: 280px; }

/* 
   LO ADAPTE PARA TODOS LOS BREAKPOINT DE BOOTSTRAP
  */
@media (min-width: 992px) and (max-width: 1199px) {
  section div .caja_contacto {
    margin-bottom: 30px; }
    section div .caja_contacto div {
      /*Mapa de google*/ }
      section div .caja_contacto div .mapa {
        border-radius: 15px;
        width: 260px;
        height: 270px; } }

/* 
    ADAPTADO PARA TABLET MODIFIQUE UN POCO LA CAJA QUE CONTIENE EL MAPA PORQUE SE VEIA MAL
  */
@media (min-width: 768px) and (max-width: 991px) {
  section div .caja_contacto {
    margin-bottom: 30px; }
    section div .caja_contacto div {
      /*Mapa de google*/ }
      section div .caja_contacto div .mapa {
        border-radius: 15px;
        width: 400px;
        height: 270px; } }

/* 
    ##Device = Baja resolución Tablets, Mobiles (Landscape/horizontal)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */ }

.titulo_paginas {
  background-color: #100309ad;
  border-bottom: 3px solid #3f0823b8;
  height: 7vw; }
  .titulo_paginas div h4 {
    text-shadow: 5px 3px 1px #930748;
    color: #cbcbcbe4;
    border-left: 4px solid #ff0d82;
    padding-left: 15px;
    letter-spacing: 10px; }

/* 
    UTILICE MEDIAQUERIE PARA MODIFICAR LA SECTION DEL TITULO QUE SE ME QUEDABA MUY CHICA CUANDO ESTABA EN MODO MOBILE Y TABLET
   
  */
@media (min-width: 481px) and (max-width: 1024px) {
  .titulo_paginas {
    height: 8vh; } }

/*FOOTER*/
/* personace un poco mi footer para darle mas vida*/
footer {
  /*margin-top: $margen-secciones;*/
  width: 100%;
  /*border-top: 2px solid  #ed33e778;*/
  /*box-shadow: 15px 15px 50px 50px rgba(225, 83, 187, 0.549);*/
  /* background-image: linear-gradient( 0deg,
        $color-n-gradiente-1,
        $color-n-gradiente-2)
         ,url(../asset/imagenes/seccion_footer/fondofooter11-min.jpg)*/
  font-size: 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(3, 2, 25, 0.5);
  /*Estilos y ANIMACIONES REDES SOCIALES*/ }
  footer div div {
    /*Menu footer*/ }
    footer div div nav ul {
      list-style: none; }
      footer div div nav ul li a {
        color: #cbcbcbe4;
        font-size: 1em;
        text-decoration: none;
        display: flex;
        justify-content: center;
        letter-spacing: 2px;
        padding-right: 30px; }
        footer div div nav ul li a:hover {
          color: #ffffff;
          text-shadow: 5px 5px 2px #ff0d82;
          font-weight: bold; }
  footer div .contenedor_mp {
    width: 100%; }
  footer div div .icons-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    footer div div .icons-wrapper:after {
      position: absolute;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0; }
    footer div div .icons-wrapper a .icon {
      display: inline-block;
      font-size: 18px;
      animation: float 4s ease-in-out infinite; }
    footer div div .icons-wrapper a .ri-instagram-line {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497, 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    footer div div .icons-wrapper a .ri-facebook-circle-line {
      color: #2b5c9c;
      animation-delay: 0.5s; }
    footer div div .icons-wrapper a .ri-whatsapp-line {
      color: #13873e;
      animation-delay: 1s; }

main div .contenedor_info_compras {
  color: #cbcbcbe4;
  /*color: rgb(255, 13, 130);*/
  border: 2px solid #ff0d82;
  border-radius: 15px;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453); }
  main div .contenedor_info_compras .borde_titulos {
    text-shadow: 5px 3px 1px #930748; }
  main div .contenedor_info_compras p {
    font-size: 10px; }
  main div .contenedor_info_compras div div .form-label {
    font-size: 12px; }
  main div .contenedor_info_compras div div .form-select {
    font-size: 13px;
    color: #ef5abe;
    background-color: black;
    width: 160px;
    height: 70%;
    border: solid 2px #ff0d82;
    border-radius: 15px; }

.caja_cuadros {
  height: 680px;
  width: 510px;
  margin-bottom: 5em;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background: #00000032;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 300ms; }
  .caja_cuadros .contenido_cuadros {
    /*height: 640px;
        width:  470px;*/
    height: 94%;
    width: 80vw;
    overflow: hidden; }
    .caja_cuadros .contenido_cuadros img {
      height: 100%;
      width: 110%;
      transition: all 200ms;
      /* aplique un poco de animacion al tocar con el cursor*/ }
      .caja_cuadros .contenido_cuadros img:hover {
        transform: scale(1.6); }

.boton_comprar_cuadros {
  font-weight: bold;
  width: 100%;
  height: 3em;
  color: #cbcbcbe4;
  background: #00000032;
  border-radius: 5px;
  border: 2px solid #ff004c; }
  .boton_comprar_cuadros:hover {
    font-weight: bold;
    color: #000000;
    background: #f9f9f9d7;
    box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
    transition: .5s; }

.subtitulos_compras {
  color: #ff0d82;
  border-left: 4px solid #ff0d82;
  padding-left: 15px;
  letter-spacing: 10px;
  font-weight: bold; }
  .subtitulos_compras:hover {
    text-shadow: 4px 5px 3px #ff0d82;
    color: #ffffff; }

.subtitulos_cuadros {
  color: #ff0d82;
  padding-left: 5px;
  letter-spacing: 5px; }
  .subtitulos_cuadros:hover {
    text-shadow: 4px 5px 3px #ff0d82;
    color: #ffffff; }

.boton_volver {
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: bold;
  width: 25em;
  height: 3em;
  color: #cbcbcbe4;
  background: #00000032;
  border-radius: 5px;
  border: 2px solid #ff004c; }
  .boton_volver:hover {
    font-weight: bold;
    color: #000000;
    background: #f9f9f9d7;
    box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
    width: 28em;
    height: 3.5em; }

.section_suscripcion {
  background-color: black;
  padding-top: 15%;
  padding-bottom: 15%; }
  .section_suscripcion .contenedor_suscripcion {
    font-size: 1em; }
    .section_suscripcion .contenedor_suscripcion div .resaltado {
      text-shadow: 2px 2px 2px #c4016f; }
    .section_suscripcion .contenedor_suscripcion div .form_index {
      width: 100%; }
      .section_suscripcion .contenedor_suscripcion div .form_index input, .section_suscripcion .contenedor_suscripcion section div .form_index .caja_contacto .form textarea, section .section_suscripcion .contenedor_suscripcion div .form_index .caja_contacto .form textarea, .section_suscripcion .contenedor_suscripcion section div .caja_contacto .form .form_index textarea, section .section_suscripcion .contenedor_suscripcion div .caja_contacto .form .form_index textarea, .section_suscripcion .contenedor_suscripcion section div .form_index .caja_contacto .form .boton_contacto, section .section_suscripcion .contenedor_suscripcion div .form_index .caja_contacto .form .boton_contacto, .section_suscripcion .contenedor_suscripcion section div .caja_contacto .form .form_index .boton_contacto, section .section_suscripcion .contenedor_suscripcion div .caja_contacto .form .form_index .boton_contacto {
        width: 600px;
        padding: .7em;
        border: none;
        background: rgba(0, 0, 0, 0);
        outline: none;
        color: #cbcbcbe4;
        border: 2px solid rgba(70, 37, 69, 0.675); }
      .section_suscripcion .contenedor_suscripcion div .form_index div .btn_env {
        font-weight: bold;
        width: 8em;
        color: #cbcbcbe4;
        background: #00000032;
        border-radius: 5px;
        border: 2px solid #ff004c; }
        .section_suscripcion .contenedor_suscripcion div .form_index div .btn_env:hover {
          font-weight: bold;
          color: #000000;
          background: #f9f9f9d7;
          box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
          width: 8em;
          transition: all .5s; }

.boton_comprar1 {
  font-weight: bold;
  width: 13em;
  height: 3em;
  padding-top: 7px;
  color: #cbcbcbe4;
  background: #00000032;
  border-radius: 5px;
  border: 2px solid #ff004c; }
  .boton_comprar1:hover {
    font-weight: bold;
    color: #000000;
    background: #f9f9f9d7;
    box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
    width: 8em;
    height: 2em;
    transition: all .5s; }

@media (max-width: 480px) {
  .section_suscripcion {
    padding-bottom: 20%; }
    .section_suscripcion .contenedor_suscripcion {
      font-size: 1.2em; }
      .section_suscripcion .contenedor_suscripcion div p {
        line-height: 2; }
      .section_suscripcion .contenedor_suscripcion div .form_index {
        width: 100%; }
        .section_suscripcion .contenedor_suscripcion div .form_index input, .section_suscripcion .contenedor_suscripcion section div .form_index .caja_contacto .form textarea, section .section_suscripcion .contenedor_suscripcion div .form_index .caja_contacto .form textarea, .section_suscripcion .contenedor_suscripcion section div .caja_contacto .form .form_index textarea, section .section_suscripcion .contenedor_suscripcion div .caja_contacto .form .form_index textarea, .section_suscripcion .contenedor_suscripcion section div .form_index .caja_contacto .form .boton_contacto, section .section_suscripcion .contenedor_suscripcion div .form_index .caja_contacto .form .boton_contacto, .section_suscripcion .contenedor_suscripcion section div .caja_contacto .form .form_index .boton_contacto, section .section_suscripcion .contenedor_suscripcion div .caja_contacto .form .form_index .boton_contacto {
          width: 300px;
          padding: .7em; }
        .section_suscripcion .contenedor_suscripcion div .form_index div .btn_env {
          margin-top: 40px;
          font-size: 0.7em; } }
