@charset "UTF-8";
/* NINETY 90 QUISE HACERLA CON ESTILO OCHENTOSO Y CON COSAS DE NEON PORQUE SE TRATA DE VENTAS DE CUADROS DE ESA EPOCA Y DE LOS 90 */
/*Espero que le guste profe me esforze mucho y le pido disculpas por entregar con lo justo , pasa que trabajo y me queda poco tiempo para estudiar y practicar, pero igual le meti muchas ganas porque me gusta*/
/*DE MANERA ORDENADA ORGANICE TODO EN SECCIONES
CREE VARIOS ARCHIVOS DE SCSS DE CADA SECCION DE LA PAGINA PARA QUE SE ME HAGA MAS FACIL
MODIFICAR TODO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Agregue esta propiedad porque nose porque me hacia una barra lateral cuando estaba en modo mobile y funciono*/
  max-width: 100% !important; }

/*CREE VARIABLES PARA NO REPETIR CODIGO Y DISTINGIR CADA ALGUN COLOR,FUENTE,ETC */
/*TIPOGRAFIA*/
/*ESPACIADOS*/
/*letras*/
/*palabras*/
/*TAMAÑOS*/
/*BORDES*/
/*COLORES*/
/*colores del logo*/
/*colores para el footer*/
/*CREE MAPAS PARA ORGANIZAR TODO MEJOR*/
/* Hice mapas para que sea mas ordenado*/
/*TAMAÑO FUENTE*/
/*GROSOR FUENTE*/
/*MARGENES*/
/*PADDING*/
/*ESTE ES EL RESETEO DEL SITIO WEB */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Agregue esta propiedad porque nose porque me hacia una barra lateral cuando estaba en modo mobile y funciono*/
  max-width: 100% !important; }

/* MIXINS */
/*Lo utilice para los iconos del footer*/
/* Los dos mixins los uso en el main de productos y de index*/
/*Utilizo este mixin en el main de informacion*/
/*ORDENE LAS FUENTES ACA*/
/*FUENTES*/
@font-face {
  font-family: orbi;
  src: url(../asset/Fuentes/Orbitron-Regular.ttf); }

@font-face {
  font-family: monserrat;
  src: url(../asset/Fuentes/Montserrat-Regular.ttf); }

@font-face {
  font-family: monserrat_fina;
  src: url(../asset/Fuentes/Montserrat-ExtraLight.ttf); }

/* APLICANDO ALGUNOS ESTILOS AL BODY DE TODAS LAS PAGINAS
UTILICE VARIABLES PARA DAR ESPACIADOS,COLOR Y FUENTE*/
body {
  background-color: #01010a;
  font-family: monserrat;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 1rem;
  color: #cbcbcbe4;
  /* max-width: 100% !important;
    overflow-x: hidden !important;*/ }

.body_contacto {
  background-color: #01010a;
  font-family: monserrat;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #cbcbcbe4; }

/*PORTADA DE LA PAGINA*/
.pantalla_principal {
  position: relative;
  background: linear-gradient(rgba(255, 0, 111, 0.196), black), url(../asset/imagenes/index/pantalla-principal-1440-768-min.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .pantalla_principal p {
    line-height: 2;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 4px;
    padding-top: 300px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.693);
    text-shadow: 5px 2px 1px #c4016f; }
  .pantalla_principal span {
    font-size: 60px;
    font-weight: bold;
    font-family: orbi;
    color: #35acf6;
    text-shadow: 0px 0px 6px rgba(40, 130, 255, 0.796);
    letter-spacing: 10px;
    transition: all 0.8s; }
    .pantalla_principal span:hover {
      color: #ff3b9d;
      text-shadow: 0px 0px 7px rgba(255, 48, 124, 0.796); }
  .pantalla_principal .salto_pagina {
    padding-top: 50px;
    padding-bottom: 100px; }
    .pantalla_principal .salto_pagina .salto_pagina_icono {
      font-size: 70px;
      /* text-shadow: 0px 20px 2px black;*/
      color: rgba(255, 255, 255, 0.234); }

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
/* Móviles en vertical 
Aca cambie la imagen de fonto por otra que sea alargada y se vea mejor en mobile, aparte de que pesa menos e hice mas chica la letra*/
@media (max-width: 480px) {
  .pantalla_principal {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/imagenes/index/pantalla-principal-mobile-min.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background: rgb(0, 0, 0);*/ }
    .pantalla_principal p {
      font-size: 1.5rem;
      line-height: 3;
      word-spacing: 10px;
      letter-spacing: 2px;
      padding-top: 20vh; }
    .pantalla_principal span {
      font-size: 2.5rem; }
    .pantalla_principal .salto_pagina {
      padding-top: 10vh;
      padding-bottom: 15vh; }
      .pantalla_principal .salto_pagina .salto_pagina_icono {
        font-size: 3.5rem; } }

/*HEADER*/
/*Aca comence a darle estilos al header*/
/* queria hacer un header */
/*NAV*/
/*Use el nav de boodstrap*/
/*Personalice el menu como yo lo queria 
  ANIDE TODO Y QUEDO MAS ORDENADO Y CON MAYOR ESPICIDAD*/
header {
  background-color: #000000d4;
  position: sticky;
  top: 0px;
  z-index: 10;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-bottom: 1px solid #4b0b2b78; }
  header .navbar .ninety {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: orbi;
    color: #35acf6;
    text-shadow: 0px 0px 6px rgba(40, 130, 255, 0.796);
    letter-spacing: 10px;
    transition: all 0.8s; }
    header .navbar .ninety:hover {
      color: #ff3b9d;
      text-shadow: 0px 0px 7px rgba(255, 48, 124, 0.796);
      transform: scale(1.1); }
  header .navbar .navbar-nav .nav-item .nav-link {
    color: #ff0d82;
    letter-spacing: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all 0.8s;
    /* UTILICE CASI TODO VARIABLES PARA HACER EL HOVER*/ }
    header .navbar .navbar-nav .nav-item .nav-link:hover {
      font-weight: bold;
      color: #25d6f9;
      text-shadow: 0px 0px 6px #38a9ff;
      border: 2px solid #ff0d82;
      border-radius: 5px;
      background-color: #10000dfc;
      box-shadow: 2px 2px 50px 2px #ff0d82;
      transform: scale(1.2); }

@media (max-width: 480px) {
  header .navbar .ninety {
    font-size: 1.2rem;
    letter-spacing: 8px; } }

/*BANNER_INFORMATIVO*/
.section_ayuda {
  background-color: rgba(3, 2, 25, 0.5);
  height: 200px;
  margin-top: 35vh;
  margin-bottom: 35vh; }
  .section_ayuda .banner_informativo {
    height: 200px;
    background-color: rgba(3, 2, 25, 0.5);
    text-shadow: 4px 5px 1px #930748; }
    .section_ayuda .banner_informativo div .contenedor_iconos {
      font-size: 1rem;
      width: 8vw;
      height: 12vh;
      border: 6px solid #ff004c; }
    .section_ayuda .banner_informativo div .contenedor_iconos_tel {
      font-size: 1rem;
      width: 6vw;
      height: 12vh;
      border: 6px solid #ff004c; }
    .section_ayuda .banner_informativo div .contenedor_iconos_tarjeta {
      font-size: 1rem;
      width: 6vw;
      height: 12vh;
      border: 6px solid #ff004c; }
    .section_ayuda .banner_informativo div p {
      font-size: 1rem;
      text-shadow: none; }

/*CARDS de los cuadros*/
.container-fluid .titulo {
  font-size: 2rem;
  line-height: 3;
  padding-top: 5vh;
  padding-bottom: 25vh;
  margin-bottom: 20vh;
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px #c4016f; }

.container-fluid .row .caja_tarjetas {
  height: 730px;
  width: 350px;
  margin-bottom: 5em;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background: #00000032;
  border-radius: 15px;
  border: 2px solid #ff0d82;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 600ms; }
  .container-fluid .row .caja_tarjetas:hover {
    transform: translateY(-20px); }
  .container-fluid .row .caja_tarjetas .contenido_img {
    height: 400px;
    width: 290px;
    border-radius: 15px;
    overflow: hidden; }
    .container-fluid .row .caja_tarjetas .contenido_img img {
      height: 100%;
      width: 110%;
      transition: all 600ms;
      /* aplique un poco de animacion al tocar con el cursor*/ }
      .container-fluid .row .caja_tarjetas .contenido_img img:hover {
        transform: scale(1.2); }
  .container-fluid .row .caja_tarjetas .borde_titulos {
    text-shadow: 5px 3px 1px #930748;
    border: 2px solid #ff0d82;
    background-color: #f168cf00;
    border-radius: 5px; }
  .container-fluid .row .caja_tarjetas div form .boton_comprar {
    font-weight: bold;
    width: 7em;
    color: #cbcbcbe4;
    background: #00000032;
    border-radius: 5px;
    border: 2px solid #ff004c; }
    .container-fluid .row .caja_tarjetas div form .boton_comprar:hover {
      font-weight: bold;
      color: black;
      background: #ffffff;
      box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
      width: 8em;
      height: 2em;
      transform: scale(1.1);
      transition: all 0.8s; }

.container-fluid .row div form .boton_vermas {
  font-weight: bold;
  color: #cbcbcbe4;
  background: #00000032;
  border-radius: 5px;
  border: 2px solid #ff004c; }
  .container-fluid .row div form .boton_vermas:hover {
    font-weight: bold;
    color: black;
    background: #f9f9f9d7;
    box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
    transform: scale(1.1);
    transition: all 0.8s; }

@media (max-width: 480px) {
  .container-fluid .titulo {
    font-size: 1.5rem;
    padding-top: 7vh;
    padding-bottom: 5vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    line-height: 2;
    letter-spacing: 8px; } }

/*@media  screen and (min-width: 360px) and (max-width: 768px) {
	
}*/
/*SECTION 80 Y 90 */
.section_80_90 {
  padding-top: 25vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../asset/imagenes/index/fondo-section_80_90_grande.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000032;
  border-radius: 2px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); }
  .section_80_90 .fila_80_90 {
    padding-bottom: 20vh; }
    .section_80_90 .fila_80_90 div div a img {
      border-radius: 10px;
      transition: all 600ms; }
      .section_80_90 .fila_80_90 div div a img:hover {
        transform: translateY(-20px);
        box-shadow: 0 0 5px black, 0 0 25px #e537e887, 0 0 50px #ff0d82, 0 0 200px #e537e887; }
    .section_80_90 .fila_80_90 div p {
      font-size: 1.2rem;
      font-weight: lighter;
      line-height: 2;
      word-spacing: 2px; }

@media (max-width: 750px) {
  .section_80_90 {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../asset/imagenes/index/fondo-section_80_90_750px-min.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; } }

.container .titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 25vh;
  margin-bottom: 25vh;
  text-shadow: 2px 2px 2px #c4016f;
  color: #cbcbcbe4;
  letter-spacing: 10px; }

.container .row .caja_tarjetas {
  height: 730px;
  width: 350px;
  margin-bottom: 5em;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background: #00000032;
  border-radius: 15px;
  border: 2px solid #ff0d82;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 600ms; }
  .container .row .caja_tarjetas:hover {
    transform: translateY(-20px); }
  .container .row .caja_tarjetas .contenido_img {
    height: 400px;
    width: 290px;
    border-radius: 15px;
    overflow: hidden; }
    .container .row .caja_tarjetas .contenido_img img {
      height: 100%;
      width: 110%;
      transition: all 600ms;
      /* aplique un poco de animacion al tocar con el cursor*/ }
      .container .row .caja_tarjetas .contenido_img img:hover {
        transform: scale(1.2); }
  .container .row .caja_tarjetas .borde_titulos {
    text-shadow: 2px 2px 2px #c4016f;
    border: 2px solid #ff0d82;
    background-color: #f168cf00;
    border-radius: 5px; }
  .container .row .caja_tarjetas div form .boton_comprar {
    font-weight: bold;
    width: 7em;
    color: #cbcbcbe4;
    background: #00000032;
    border-radius: 5px;
    border: 2px solid #ff004c; }
    .container .row .caja_tarjetas div form .boton_comprar:hover {
      font-weight: bold;
      color: black;
      background: #ffffff;
      box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
      width: 8em;
      height: 2em;
      transform: scale(1.1);
      transition: all 0.8s; }

@media (max-width: 480px) {
  .container .titulo {
    font-size: 1.5rem;
    margin-top: 10vh;
    margin-bottom: 8vh;
    line-height: 2;
    letter-spacing: 5px; } }

/*BANNER*/
/*puse una imagen de fondo y le aplique gradientes para que resalte el texto y la imagen */
.banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../asset/imagenes/productos/banner4-min-min.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 15px 15px 100px 15px #000000d4; }
  .banner .background-overlay1 {
    background: rgba(0, 0, 0, 0.285);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .banner .background-overlay1 div div {
      /* BOTON VER CATALOGO*/ }
      .banner .background-overlay1 div div .titulo_banner {
        line-height: 1.5;
        font-weight: bold !important;
        text-shadow: 0px 0px 10px rgba(255, 36, 157, 0.63);
        color: rgba(255, 101, 181, 0.63); }
      .banner .background-overlay1 div div p {
        font-family: monserrat_fina !important; }
      .banner .background-overlay1 div div .btn:hover {
        font-size: 1.5rem;
        background: #00000032;
        box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
        transition: all 0.5s; }
    .banner .background-overlay1 .imagenes {
      width: 26.5vw;
      border-radius: 15px;
      box-shadow: 20px 20px 30px 15px black; }

@media (max-width: 480px) {
  .banner {
    background: none;
    background-color: black; }
    .banner .background-overlay1 div div .titulo_banner {
      line-height: 1.7;
      letter-spacing: 2px;
      font-size: 2rem; } }

/* MAIN INFORMACION*/
main {
  /*Estilos para los logos de las peliculas*/ }
  main .section_80 {
    position: relative;
    background: url(../asset/imagenes/info/et-enbici-fondo-min.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000032; }
    main .section_80 .info_80 {
      padding-left: 15vh;
      padding-top: 2vh;
      padding-bottom: 10vh; }
      main .section_80 .info_80 .titulo_80 {
        font-family: orbi;
        font-size: 10rem;
        padding-bottom: 15vh;
        text-shadow: 0px 0px 10px rgba(240, 1, 133, 0.63);
        color: rgba(255, 101, 181, 0.63); }
      main .section_80 .info_80 .texto_80_90 {
        line-height: 2;
        letter-spacing: 1px;
        word-spacing: 2px; }
  main .container-fluid {
    padding-top: 30vh;
    padding-bottom: 30vh; }
    main .container-fluid h4 {
      font-family: monserrat_fina;
      padding-bottom: 5vh; }
    main .container-fluid .caja_logos_peliculas {
      padding-top: 20vh; }
      main .container-fluid .caja_logos_peliculas .contenedor_img_info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a1a0a100;
        width: 250px;
        height: 200px; }
        main .container-fluid .caja_logos_peliculas .contenedor_img_info img {
          transition: all 700ms; }
          main .container-fluid .caja_logos_peliculas .contenedor_img_info img:hover {
            transform: scale(1.6); }
  main .section_90 {
    position: relative;
    background: url(../asset/imagenes/info/mipobreangelito-fondo-min.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000032; }
    main .section_90 .info_90 {
      padding-right: 15vh;
      padding-top: 2vh;
      padding-bottom: 10vh; }
      main .section_90 .info_90 .titulo_90 {
        font-family: orbi;
        font-size: 10rem;
        padding-bottom: 15vh;
        text-shadow: 0px 0px 10px rgba(174, 85, 246, 0.63);
        color: rgba(0, 176, 240, 0.63); }
      main .section_90 .info_90 .texto_80_90 {
        line-height: 2;
        letter-spacing: 1px;
        word-spacing: 2px; }

@media (max-width: 480px) {
  main {
    /* Logos de peliculas*/ }
    main .section_80 {
      background-color: black; }
      main .section_80 .info_80 {
        padding-left: 0vh;
        padding-bottom: 5vh; }
        main .section_80 .info_80 .titulo_80 {
          font-size: 5rem;
          padding-bottom: 5vh; }
    main .container-fluid {
      padding-top: 5vh;
      padding-bottom: 5vh; }
      main .container-fluid h4 {
        font-size: 1rem;
        padding-bottom: 0px;
        line-height: 3; }
      main .container-fluid .caja_logos_peliculas {
        padding-top: 1vh;
        padding-bottom: 5vh; }
        main .container-fluid .caja_logos_peliculas .contenedor_img_info {
          margin-top: 10vh;
          margin-bottom: 1vh;
          background-color: #a1a0a100;
          width: 90vw;
          height: 20vw; }
          main .container-fluid .caja_logos_peliculas .contenedor_img_info img {
            width: 100%;
            height: 100%;
            transition: all 700ms; }
            main .container-fluid .caja_logos_peliculas .contenedor_img_info img:hover {
              transform: scale(1.6); }
    main .section_90 {
      background: none;
      background-color: black; }
      main .section_90 .info_90 {
        padding-right: 0vh;
        padding-top: 10vh;
        padding-bottom: 5vh; }
        main .section_90 .info_90 .titulo_90 {
          font-size: 5rem;
          padding-bottom: 5vh; } }

/*MAIN ENVÍOS*/
main .contenedor_envios {
  margin-top: 8vh;
  margin-bottom: 8vh; }
  main .contenedor_envios div h4 {
    text-shadow: 5px 3px 1px #930748;
    color: #cbcbcbe4;
    font-weight: bold;
    letter-spacing: 10px; }
  main .contenedor_envios div p {
    letter-spacing: 1px;
    line-height: 2; }

@media (max-width: 480px) {
  main .contenedor_envios {
    margin-top: 4vh;
    margin-bottom: 4vh; } }

/* MAIN CONTACTO*/
/* Contenedor del formulario de contacto*/
main div .caja_contacto {
  padding-top: 2vh;
  padding-bottom: 2vh;
  box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
  background: #00000032;
  border-radius: 15px;
  border: 2px solid #ff0d82;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 300ms; }
  main div .caja_contacto .form {
    /*Utilice @extend para llevarme los estilos del input a los otros componentes del formulario*/ }
    main div .caja_contacto .form input, main div .caja_contacto .form textarea, main div .caja_contacto .form .boton_contacto {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: none;
      color: #ffffff;
      border-bottom: 2px solid rgba(70, 37, 69, 0.675); }
    main div .caja_contacto .form .boton_contacto {
      font-weight: bold;
      width: 16em;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      border: solid #a4a4a497;
      transition: all 600ms; }
      main div .caja_contacto .form .boton_contacto:hover {
        color: black;
        border: 3px solid #520880;
        background: #ffffff;
        box-shadow: 0 0 5px #ff0d82, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
        transform: scale(1.1); }
  main div .caja_contacto ul {
    list-style: none; }
  main div .caja_contacto div {
    /*Mapa de google*/ }
    main div .caja_contacto div .mapa {
      border-radius: 15px;
      width: 90%;
      height: 280px; }

/* 
   LO ADAPTE PARA TODOS LOS BREAKPOINT DE BOOTSTRAP
  */
@media (min-width: 992px) and (max-width: 1199px) {
  main div .caja_contacto {
    margin-bottom: 30px; }
    main div .caja_contacto div {
      /*Mapa de google*/ }
      main div .caja_contacto div .mapa {
        border-radius: 15px;
        width: 260px;
        height: 270px; } }

/* 
    ADAPTADO PARA TABLET MODIFIQUE UN POCO LA CAJA QUE CONTIENE EL MAPA PORQUE SE VEIA MAL
  */
@media (min-width: 768px) and (max-width: 991px) {
  main div .caja_contacto {
    margin-bottom: 30px; }
    main div .caja_contacto div {
      /*Mapa de google*/ }
      main div .caja_contacto div .mapa {
        border-radius: 15px;
        width: 400px;
        height: 270px; } }

@media (max-width: 480px) {
  main div .caja_contacto {
    padding-bottom: 2vh;
    margin-bottom: 4vh; }
    main div .caja_contacto .form {
      /*Utilice @extend para llevarme los estilos del input a los otros componentes del formulario*/ }
      main div .caja_contacto .form input, main div .caja_contacto .form textarea, main div .caja_contacto .form .boton_contacto {
        padding: .4em; }
      main div .caja_contacto .form .boton_contacto {
        margin-bottom: 0.7em;
        width: 100%; }
    main div .caja_contacto div {
      /*Mapa de google*/ }
      main div .caja_contacto div .mapa {
        margin-bottom: 0.7em;
        /*width: 90%;*/ } }

/*TITULO PAGINA*/
.titulo_paginas {
  background-color: #100309ad;
  border-bottom: 3px solid #3f0823b8;
  height: 12vh; }
  .titulo_paginas div h4 {
    text-shadow: 2px 2px 2px #c4016f;
    color: #cbcbcbe4;
    border-left: 4px solid #ff0d82;
    padding-left: 2vh;
    letter-spacing: 10px; }

@media (max-width: 480px) {
  .titulo_paginas {
    border-bottom: 2px solid #3f0823b8;
    height: 7vh; }
    .titulo_paginas div h4 {
      font-size: 1.2rem;
      border-left: 4px solid #ff0d82;
      letter-spacing: 8px; } }

/*Aca modifique un poco la seccion del titulo porque quedaba muy mal como estaba para tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  .titulo_paginas {
    height: 8vh; } }

/*FOOTER*/
/* */
footer {
  width: 100%;
  font-size: 0.8rem;
  background-color: rgba(3, 2, 25, 0.5);
  /*Estilos y ANIMACIONES REDES SOCIALES*/ }
  footer div div {
    /*Menu footer*/ }
    footer div div nav ul {
      list-style: none; }
      footer div div nav ul li a {
        padding-top: 8px;
        color: #cbcbcbe4;
        font-size: 13px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        letter-spacing: 2px;
        padding-right: 5vh;
        transition: all 0.4s; }
        footer div div nav ul li a:hover {
          color: #ff23f8;
          text-shadow: 0px 0px 10px #ff23f8;
          font-weight: bold;
          transform: scale(1.1); }
  footer div div .icons-wrapper {
    position: relative;
    display: flex;
    justify-content: center; }
    footer div div .icons-wrapper:after {
      position: absolute;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0; }
    footer div div .icons-wrapper a .icon {
      display: inline-block;
      animation: float 4s ease-in-out infinite; }
    footer div div .icons-wrapper a .ri-instagram-line {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497, 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    footer div div .icons-wrapper a .ri-facebook-circle-line {
      color: #2b5c9c;
      animation-delay: 0.5s; }
    footer div div .icons-wrapper a .ri-whatsapp-line {
      color: #13873e;
      animation-delay: 1s; }

@keyframes float {
  0% {
    transform: translateY(0);
    /*The starting point of the animation is 0.*/ }
  50% {
    transform: translateY(-25px);
    /*The middle point of the animation is -15xp. This will move the element up.*/ }
  100% {
    transform: translateY(0);
    /*The last point of the animation is going back to the starting state of 0.*/ } }
  footer div .caja_copy p {
    font-size: 0.9em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #636363; }

@media (max-width: 480px) {
  footer div .caja_copy p {
    line-height: 2; } }

.titulo_paginas_cuadros {
  background-color: #100309ad;
  border-bottom: 3px solid #3f0823b8;
  height: 12vh; }
  .titulo_paginas_cuadros .subtitulos_cuadros h4 {
    text-shadow: 2px 2px 2px #c4016f;
    color: #cbcbcbe4;
    border-left: 4px solid #ff0d82;
    padding-left: 15px;
    letter-spacing: 10px;
    font-weight: bold;
    transition: all 0.6s; }
    .titulo_paginas_cuadros .subtitulos_cuadros h4:hover {
      text-shadow: none;
      color: #ff0d82; }

main {
  margin-bottom: 5vw; }
  main div .caja_cuadros {
    margin-bottom: 5em;
    box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
    background: #00000032;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); }
    main div .caja_cuadros .contenido_cuadros {
      height: 96%;
      width: 80vw;
      overflow: hidden; }
      main div .caja_cuadros .contenido_cuadros img {
        height: 100%;
        width: 110%;
        transition: all 600ms;
        /* aplique un poco de animacion al tocar con el cursor*/ }
        main div .caja_cuadros .contenido_cuadros img:hover {
          transform: scale(1.2); }
  main div .contenedor_info_compras {
    color: #cbcbcbe4;
    border: 2px solid #ff0d82;
    border-radius: 15px;
    box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453); }
    main div .contenedor_info_compras .borde_titulos {
      text-shadow: 5px 3px 1px #930748; }
    main div .contenedor_info_compras p {
      font-size: 1rem; }
    main div .contenedor_info_compras .container .row {
      width: 35vw; }
      main div .contenedor_info_compras .container .row div .form-label {
        font-size: 0.8rem; }
      main div .contenedor_info_compras .container .row div .form-select {
        font-size: 0.8rem;
        color: #ef5abe;
        background-color: black;
        width: 160px;
        height: 70%;
        border: solid 2px #ff0d82;
        border-radius: 15px; }
    main div .contenedor_info_compras div form .boton_comprar_cuadros {
      font-weight: bold;
      width: 100%;
      height: 3em;
      color: #cbcbcbe4;
      background: #00000032;
      border-radius: 5px;
      border: 2px solid #ff004c;
      transition: all 0.6s; }
      main div .contenedor_info_compras div form .boton_comprar_cuadros:hover {
        font-weight: bold;
        color: black;
        background: #f9f9f9d7;
        box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
        transform: scale(1.2); }
    main div .contenedor_info_compras .texto_compra {
      font-size: 0.8rem; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1.25rem;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: left;
  background-color: black;
  border: 3px solid #c2046c;
  border-radius: 20px !important;
  overflow-anchor: none; }

.accordion-button:not(.collapsed) {
  font-weight: bold;
  font-size: 15px;
  color: #e30079;
  background-color: #000000;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125); }

.accordion-button:focus {
  z-index: 3;
  border-color: #fd64b083;
  outline: 0;
  box-shadow: 0 0 2px #ffffff, 0 0 20px #ff0d82, 0 0 40px #ff0d82, 0 0 50px #e537e887; }

.accordion-item {
  font-size: 0.8em;
  color: #ffffff;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px !important; }

@media (max-width: 480px) {
  .titulo_paginas_cuadros {
    height: 13vh; }
    .titulo_paginas_cuadros .subtitulos_cuadros h4 {
      font-size: 18px;
      border-left: 4px solid #ff0d82;
      letter-spacing: 8px; }
  main {
    margin-bottom: 20vw; }
    main div .caja_cuadros .contenido_cuadros {
      height: 93%; }
    main div .contenedor_info_compras p {
      font-size: 0.8rem; }
    main div .contenedor_info_compras .container .row {
      width: 35vw; }
      main div .contenedor_info_compras .container .row div .form-label {
        font-size: 10.5px; } }

.body_error {
  height: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/imagenes/productos/banner4-min-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body_error .error {
    width: 30vw; }

.boton_volver {
  font-size: 1rem;
  letter-spacing: 7px;
  font-weight: bold;
  width: 25em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #cbcbcbe4;
  background: #00000032;
  border-radius: 5px;
  border: 2px solid #ff004c; }
  .boton_volver:hover {
    font-size: 25px;
    font-weight: bold;
    color: black;
    background: #f9f9f9d7;
    box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
    transition: all 0.9s; }

@media (max-width: 480px) {
  .boton_volver {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 5px;
    font-weight: bold;
    width: 15em;
    color: #cbcbcbe4;
    background: #00000032;
    border-radius: 5px;
    border: 2px solid #ff004c; }
  .body_error .error {
    width: 100vw; } }

/*SUSCRIPCION*/
.suscripcion {
  background-color: black;
  padding-top: 25vh;
  padding-bottom: 25vh; }
  .suscripcion .suscripcion_contenedor {
    font-size: 1rem; }
    .suscripcion .suscripcion_contenedor div .resaltado {
      text-shadow: 2px 2px 2px #c4016f; }
    .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form {
      width: 100%; }
      .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form input, .suscripcion .suscripcion_contenedor main div .suscripcion_contenedor_div_form .caja_contacto .form textarea, main .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form .caja_contacto .form textarea, .suscripcion .suscripcion_contenedor main div .caja_contacto .form .suscripcion_contenedor_div_form textarea, main .suscripcion .suscripcion_contenedor div .caja_contacto .form .suscripcion_contenedor_div_form textarea, .suscripcion .suscripcion_contenedor main div .suscripcion_contenedor_div_form .caja_contacto .form .boton_contacto, main .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form .caja_contacto .form .boton_contacto, .suscripcion .suscripcion_contenedor main div .caja_contacto .form .suscripcion_contenedor_div_form .boton_contacto, main .suscripcion .suscripcion_contenedor div .caja_contacto .form .suscripcion_contenedor_div_form .boton_contacto {
        width: 600px;
        padding: 1.5vh;
        border: none;
        background: rgba(0, 0, 0, 0);
        outline: none;
        color: #cbcbcbe4;
        border: 2px solid rgba(70, 37, 69, 0.675); }
      .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form div .btn_enviar {
        font-weight: bold;
        width: 8em;
        color: #cbcbcbe4;
        background: #00000032;
        border-radius: 5px;
        border: 2px solid #ff004c;
        transition: all 600ms; }
        .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form div .btn_enviar:hover {
          font-weight: bold;
          color: black;
          background: #ffffff;
          box-shadow: 0 0 5px #e537e887, 0 0 25px #ff0d82, 0 0 50px #ff0d82, 0 0 200px #e537e887;
          transform: scale(1.1); }

/*OPTIMIZANDO para mobile hasta 480px de maximo*/
@media (max-width: 480px) {
  .suscripcion {
    padding-top: 15vh;
    padding-bottom: 15vh; }
    .suscripcion .suscripcion_contenedor div p {
      line-height: 2; }
    .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form {
      width: 100%; }
      .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form input, .suscripcion .suscripcion_contenedor main div .suscripcion_contenedor_div_form .caja_contacto .form textarea, main .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form .caja_contacto .form textarea, .suscripcion .suscripcion_contenedor main div .caja_contacto .form .suscripcion_contenedor_div_form textarea, main .suscripcion .suscripcion_contenedor div .caja_contacto .form .suscripcion_contenedor_div_form textarea, .suscripcion .suscripcion_contenedor main div .suscripcion_contenedor_div_form .caja_contacto .form .boton_contacto, main .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form .caja_contacto .form .boton_contacto, .suscripcion .suscripcion_contenedor main div .caja_contacto .form .suscripcion_contenedor_div_form .boton_contacto, main .suscripcion .suscripcion_contenedor div .caja_contacto .form .suscripcion_contenedor_div_form .boton_contacto {
        width: 300px;
        padding: 1vh; }
      .suscripcion .suscripcion_contenedor div .suscripcion_contenedor_div_form div .btn_enviar {
        margin-top: 5vh;
        font-size: 1rem; } }

/*LOGO DE LA EMPRESA NINETY90*/
.ninety {
  text-decoration: none;
  font-weight: bold;
  font-family: orbi;
  color: #35acf6;
  text-shadow: 0px 0px 6px rgba(40, 130, 255, 0.796);
  letter-spacing: 10px;
  transition: all 0.8s; }
  .ninety:hover {
    color: #ff3b9d;
    text-shadow: 0px 0px 7px rgba(255, 48, 124, 0.796);
    transform: scale(1.1); }
