

/* NINETY 90 QUISE HACERLA CON ESTILO OCHENTOSO Y CON COSAS DE NEON PORQUE SE TRATA DE VENTAS DE CUADROS DE ESA EPOCA Y DE LOS 90 */

/*ESPERO QUE TE GUSTE EL ESTILO QUE LE PUSE ME COSTO MUCHO TRABAJO LLEGAR A ESTO NO QUEDO NADA QUE VER A LO QUE ERA LA PRIMERA PRE ENTREGA 
TRATE DE APLICAR TODAS LAS COSAS QUE ME ENSEÑARON ME QUEDA TODAVIA MEJORAR LAS OTRAS PAGINAS*/


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/*FUENTES*/

@font-face{
    font-family: quick ;
    src: url(../FUENTES/Quicksand-Regular.ttf)

}


@font-face{
    font-family: audiow ;
    src: url(../FUENTES/Audiowide-Regular.ttf)

}

@font-face{
    font-family: orbi ;
    src: url(../FUENTES/Orbitron-Regular.ttf)

}

/* ARME LA PAGINA CON BOOSTRAP CON EL SISTEMA DE COLUMNAS Y FILAS PORQUE ERA MAS FACIL, TAMBIEN APLIQUE MEDIAQUERIE CON BOODSTRAP PORQUE SE ME HACIA MAS SENCILLO . ESTA ADAPTADO PARA DESKTOP COMO PARA MOBILE*/




/* APLICANDO ALGUNOS ESTILOS AL BODY 
LE DI UNA CLASE LLAMDA PAGINA PRINCIPAL */



.pagina_principal{

    color: #ffffff;
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.547),
    rgba(0,0,0,0.5) )
     ,url(../imagenes/fondo10.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:quick;
    letter-spacing: 1px;
    word-spacing: 5px;
    

}




/*HEADER*/ 
/*Aca comence a darle estilos al header*/
/* queria hacer un header */

.header{
    background-color: rgba(255, 0, 183, 0);
    box-shadow: 15px 15px 30px 20px rgba(196, 23, 132, 0.214);
    position: sticky;
    top: 0px;
    z-index: 10;
    backdrop-filter: blur(2px );
    -webkit-backdrop-filter: blur(2px);
}

/*NAV*/ 
/*Use el nav de boodstrap*/
/*Personalice el menu como yo lo queria */





.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  text-shadow: 2px 2px 5px rgb(250, 133, 217);
  margin-right: 15px;

}


/*BANNER*/ 
/*puse una imagen de fondo y le aplique gradientes para que resalte el texto y la imagen */



.banner {
  position: relative;
  background:linear-gradient(rgb(0 0 0 /.5), rgb(0 0 0 /.5) ),  url(../imagenes/banners/banner4.jpg) ;
  background-size: cover;
 
  border-bottom: solid rgb(58, 4, 81);
  box-shadow: 15px 15px 30px 15px rgba(253, 211, 238, 0.308);
}

.background-overlay {
  background: rgba(23, 23, 23, 0.727);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.imagenes{
  border-radius: 20px;
  box-shadow: 20px 20px 30px 15px rgba(0, 0, 0, 0.918);
}




/*CARDS*/

main{
  padding-bottom: 10%;
  padding-top: 10%;
}

.separacion{

  margin-top: 10%;
  margin-bottom: 10%;
}


.contenido_img {
  width: 270px;
  height: 340px;
  border-radius: 14px ;
  overflow: hidden;
  

}

.contenido_img img{
  width: 110%;
  transition: all 300ms;
}

.caja_tarjetas {
      height: 620px;
      box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      border-left: 1px solid rgba(123, 7, 181, 0.362);
      border-top: 1px solid rgba(172, 57, 244, 0.5);
      backdrop-filter: blur(2px );
      -webkit-backdrop-filter: blur(2px);
      transition: all 300ms;


}
/* aplique un poco de animacion al tocar con el cursor*/

.caja_tarjetas:hover .contenido_img img {

   transform: scale(1.1)

}


.caja_tarjetas:hover{
  transform: translateY(-20px);
}



.image{
  border-radius: 15px;
}



/*SECTION 80 Y 90 */


  .color_fondo{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #0000006f;
    box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);
    border-radius: 15px;
    border: 3px solid rgba(161, 48, 218, 0.362);
    backdrop-filter: blur(2px );
    -webkit-backdrop-filter: blur(2px);
     
  }

  .caja_imgneon .image:hover {
    background: #fffffffb;
    box-shadow: 0 0 5px #00000093, 0 0 25px #e537e887, 0 0 50px #fa5ced, 0 0 200px #7f0999eb;
    
  }


  /*FOOTER*/
  /* personace un poco mi footer para darle mas vida*/

  .footer{
    
    margin-top: 200px;
    width: 100%;
    border-top:solid #f959ec;
    box-shadow: 15px 15px 50px 50px rgba(255, 255, 255, 0.316);

    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.547),
    rgba(0,0,0,0.5) )
     ,url(../imagenes/FONDOS/fondofooter11.jpg);

     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


  .copy{
    color: #4d4d4d;
  }

  .ul{
    list-style: none
  }




  /*ANIMACIONES REDES SOCIALES*/

  .icons-wrapper{
    position: relative;
    display:flex;
    justify-content: center;
    margin-top:20px;
  
}

.icons-wrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgba(37, 37, 37, 0);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
/* ======================== */
.icon{
    display: inline-block; 
    font-size: 44px;
    animation: float 4s ease-in-out infinite; 
}


.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.ri-facebook-circle-line{
    color: #1877f2;
    animation-delay: 0.5s; 
}

.ri-whatsapp-line{
    color: #25d366;
    animation-delay: 1s; 
}

@keyframes float {
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-25px); 
    }
    100%{
        transform: translateY(0); 
    }
}


/*Boton*/



.buton{
  font-size: 14px;
  font-weight: bold;
  padding: 5px 9px;
  border-radius: 5px;
  border: 1px solid rgb(5, 5, 5);
  box-shadow: 3px 3px 10px rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  background-color: rgb(84, 26, 82);

}


.buton:hover{
  background-color: rgb(234, 8, 237);
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #910826 ,0 0 50px #520113, 0 0 50px 
}


/* NEON*/
/* Efecto neon*/


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


.neon {
font-family:quick ;
color: #f7f7f7;
font-size: 9vw;
text-shadow: 0 0 3vw #F40A35;
}

.flux {
 font-weight: bold;
 letter-spacing: 10px;

font-family: orbi ;
color: #65037e;
font-size: 6vw;

text-shadow: 0 0 3vw #ffffff;
}

.neon {
animation: neon 3s ease infinite;
-moz-animation: neon 3s ease infinite;
-webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
0%,
100% {
  text-shadow: 0 0 1vw #0f12ad, 0 0 3vw  #ab129e, 0 0 10vw  #e215d1, 0 0 10vw  #b51773, 0 0 .4vw #93edffb1, .5vw .5vw .1vw #0c5363;
  color: #ffffff;
}
50% {
  text-shadow: 0 0 .5vw #140d54, 0 0 1.5vw #140d54, 0 0 5vw #140d54, 0 0 5vw #140d54, 0 0 .2vw #140d54, .5vw .5vw .1vw #140d54;
  color: #5ba6e4;
}
}

.flux {
animation: flux 4s linear infinite;
-moz-animation: flux 4s linear infinite;
-webkit-animation: flux 4s linear infinite;
-o-animation: flux 4s linear infinite;
}

@keyframes flux {
0%,
100% {
  text-shadow: 0 0 1vw #8e2187, 0 0 3vw #ffffff, 0 0 10vw #ffffff, 0 0 10vw #000000, 0 0 .4vw #ffffff, .5vw .5vw .1vw #130847;
  color:  #ffffff ;
}
50% {
  text-shadow: 0 0 .5vw #2b2478, 0 0 1.5vw #653284, 0 0 5vw #520880, 0 0 5vw #520880, 0 0 .2vw #520880, .5vw .5vw .1vw #9932bc5b;
  color: #ab5074;
}
}



.btn-3:hover {
  background: #ff96ad00;
  box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
}




/*CONTACTO*/

.pagina_contacto{

  color: #ffffff;
  background-image: linear-gradient( 0deg,
  rgba(0, 0, 0, 0.547),
  rgba(0,0,0,0.5) )
   ,url(../imagenes/fondo10.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:quick;
  letter-spacing: 1px;
  word-spacing: 5px;
  

}



.caja_contacto {
  height: 570px;
  box-shadow: 20px 20px 50px rgba(37, 37, 37, 0.57);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border-left: 1px solid rgba(123, 7, 181, 0.362);
  border-top: 1px solid rgba(172, 57, 244, 0.5);
  backdrop-filter: blur(2px );
  -webkit-backdrop-filter: blur(2px);
  transition: all 300ms;


}

.caja_contacto .form input,
.caja_contacto .form textarea,
.caja_contacto .form .boton_contacto {

    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 2px solid #ffffff86;
}

.mapa{
  border-radius: 15px;
  
}

.caja_contacto .form .boton_contacto {
  font-weight: bold;
  width: 18em;
  background: #00000063;
  border-radius: 5px;
  border: solid #ffffff86;

}

.caja_contacto ul{
  
  list-style: none;

}

.caja_contacto .form .boton_contacto:hover {
  
  color: #000000;
  background: #fffffffb;
  box-shadow: 0 0 5px #c21eef83, 0 0 25px #e54ff9, 0 0 50px #fa5ced, 0 0 200px #b116e49f;
  
}








 
 
