/*BANNER_2*/
  
.banner_2{
  
    height: 150px;
    margin-top: 200px;
    margin-bottom: 200px;


       div{
           .contenedor_iconos{
            width: 150px;
            height: 100px;
            border: 7px solid $color-borde ;
               

              
           
           }

       }
   }

   .banner_2{

       div{
           .contenedor_iconos_tel{
               width: 110px;
               height: 100px;
               border: 7px solid $color-borde ;

           }
       }
   }

   .banner_2{

       div{
           .contenedor_iconos_tarjeta{
               width: 110px;
               height: 100px;
               border: 7px solid $color-borde ;

           }

       }
   }
   
 