/*BANNER_2*/
  
.banner_2{
  
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: $color-rosa-2;


       div{
           .contenedor_iconos{
            width: 9vw;
            height: 12vh;
            border: 7px solid $color-borde ;
            
               
           }

           p{
            font-size: 1vw;
           }

           
       }
   }

   .banner_2{

       div{
           .contenedor_iconos_tel{
            width: 7vw;
            height: 12vh;
            border: 7px solid $color-borde;

           }

           p{
            font-size: 1vw;
           }
       }
   }

   .banner_2{

       div{
           .contenedor_iconos_tarjeta{
            width: 7vw;
            height: 12vh;
            border: 7px solid $color-borde;

           }

           p{
            font-size: 1vw;
           }

       }
   }
   


  
  







 