/*BANNER*/ 
  /*puse una imagen de fondo y le aplique gradientes para que resalte el texto y la imagen */
  
  .banner {
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8) ),  url(../asset/imagenes/seccion_inicio_fondos/banner4-min.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
   
    /*border-bottom: 2px solid $color-borde;*/
    box-shadow: 15px 15px 100px 15px $color-header;

    .background-overlay1 {
        background: $color-negro-transparente;
        top: 0;
        left: 0;
        width: $ancho-maximo;
        height:$alto-maximo;

        div{
          div{
            
            h1{
              
              color: $color-rosa;
              font-weight: map-get($fuente-grosor, negrita );
            }

            p{
              font-family:$fuente-principal-2;
              font-size: $fuente-m;
             
            }

            /* BOTON VER CATALOGO*/
  
            .btn:hover {
              background: $color-transparente;
              box-shadow: 0 0 5px $color-blanco, 0 0 25px $color-blanco, 0 0 50px $color-blanco, 0 0 200px $color-blanco;
            }

          }
        }

        .imagenes{
            width: 25vw;
            border-radius: $borde-m;
            box-shadow: 20px 20px 30px 15px $color-negro;
        }
    
    }

  }

 

