/*BANNER_INFORMATIVO*/
.section_ayuda{
    background-color:$c-banner-info;
    height:200px ;
    margin-top: map-get($margenes,m-35);
    margin-bottom: map-get($margenes,m-35);

    .banner_informativo{
        height:200px ;
        background-color: $c-banner-info;
        text-shadow: 4px 5px 1px rgb(147, 7, 72);
    
    
        div{
            a{
                color: $color-fuente;
                text-decoration: none;
            }
                
            .contenedor_iconos{

                font-size: map-get($fs,fs-1 );
                width: 8vw;
                height: 12vh;
                border: 6px solid $color-violeta-2;
                
                   
            }
           
            
            .contenedor_iconos_tel{
                font-size: map-get($fs,fs-1 );
                width: 6vw;
                height: 12vh;
                border: 6px solid $color-violeta-2;

                   
            }

            
            
    
            .contenedor_iconos_tarjeta{
                font-size: map-get($fs,fs-1 );
                width: 6vw;
                height: 12vh;
                border: 6px solid $color-violeta-2;

                a{
                   color: $color-fuente;

                }
    
            }
    
    
            p{
                font-size: map-get($fs,fs-1);
                text-shadow: none;
            }
    
               
        }
    }
    
    
       
    
    
    
    
    

}
