
/* APLICANDO ALGUNOS ESTILOS AL BODY DE TODAS LAS PAGINAS
UTILICE VARIABLES PARA DAR ESPACIADOS,COLOR Y FUENTE*/
  
body{
  
    background-color: rgb(1, 1, 10);
    font-family: $fuente-principal ;
    letter-spacing: $espacio-letra-2;
    word-spacing: $espacio-palabra-1;
    font-size: $fuente-m;
    color: $color-fuente;
    font-weight: 100;
   /* max-width: 100% !important;
    overflow-x: hidden !important;*/
   
}


