.boton_volver{
    
    font-size: 20px;
    letter-spacing: 10px;
    font-weight:map-get($fuente-grosor, negrita );
    width: 25em;
    height: 3em;
    color: $color-fuente;
    background: $color-transparente;
    border-radius: $borde-sm;
    border: $borde-s solid  $color-violeta-2;
    
    &:hover {
        font-weight: bold;
        color: $color-negro;
        background: #f9f9f9d7;
        box-shadow: 0 0 5px $color-violeta, 0 0 25px $color-rosa, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
        width: 28em;
        height: 3.5em;
    }

}