 /*FOOTER*/
/* */
  
    footer{

        width: $ancho-maximo;
        font-size: map-get($fs, fs-08 );
        background-color: rgba(3, 2, 25, 0.5);
       
        div{
   
            div{

                /*Menu footer*/

                nav{
                  
                    ul{
                    list-style: none;
                        li{
                            a{ 
                               padding-top: 8px;
                               color: $color-fuente;
                               font-size: 13px;
                               text-decoration: none;
                               display: flex;
                               justify-content: center;
                               letter-spacing: $espacio-letra-2;
                               padding-right: map-get($padding, p-5 );
                               transition: all 0.4s;
  
                                &:hover{
                                  color: rgb(255, 35, 248);
                                  text-shadow: 0px 0px 10px rgb(255, 35, 248);
                                  font-weight: map-get($fw, f-bold ); 
                                  transform: scale(1.1);
                                  
  
                                }
                            }
                        }
                    }
                }
  
            }
        }

       
        /*Estilos y ANIMACIONES REDES SOCIALES*/
        
        div{

            div{
                .icons-wrapper{
                    @include flex_centrado ;
                  
  
                    &:after{
                          
                        position: absolute;
                         width: $ancho-maximo;
                        height: 5px;
                        border-radius: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 0;
  
                    }
  
                    a{
                        .icon{
                            
                            display: inline-block; 
                            animation: float 4s ease-in-out infinite; 
                        }
  
                        .ri-instagram-line{
                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497,5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                            -webkit-background-clip: text; 
                            background-clip: text;
                            -webkit-text-fill-color: transparent;

                          
                              
                              
                        }
  
                        .ri-facebook-circle-line{
                            color: $color-facebook ;
                            animation-delay: 0.5s; 
                             
                                                    
                        }
  
                        .ri-whatsapp-line{
                            color: $color-wp;
                            animation-delay: 1s; 
                
                             
                        }

                        @keyframes float {
                            0%{
                                transform: translateY(0);
                            }
                            50%{
                                transform: translateY(-25px); 
                            }
                            100%{
                                transform: translateY(0); 
                            }
                        }
  
  
                    }
  
                      
                }
  
            }
        }

        div{
           
            .caja_copy{

                p{

                    font-size: 0.9em;
                    letter-spacing: 2px;
                    word-spacing: 2px;
                    color: $c-gris;
                }

                a{
                    text-decoration: none;
                    color: #f65cc5;
                }
                  
            }
        }
    }






    
    @media (max-width: 480px) {

        footer{

            div{
           
                .caja_copy{

                    p{
                     line-height: 2;
                     
                    }
                  
                }
            }
        }

    }