/*FUENTES*/
  


@font-face{
    font-family: orbi ;
    src: url(../asset/Fuentes/Orbitron-Regular.ttf)

}



@font-face {
    font-family:monserrat;
    src: url(../asset/Fuentes/Montserrat-Regular.ttf);
}



@font-face{
    font-family:monserrat_fina;
    src: url(../asset/Fuentes/Montserrat-ExtraLight.ttf)

}
