/*FUENTES*/
  



@font-face{
    font-family: orbi ;
    src: url(../asset/Fuentes/Orbitron-Regular.ttf)

}

@font-face{
    font-family: poppins ;
    src: url(../asset/Fuentes/Poppins-Regular.ttf)

}

@font-face {
    font-family:poppins_2 ;
    src: url(../asset/Fuentes/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family:monserrat ;
    src: url(../asset/Fuentes/Montserrat-Regular.ttf);
}


