/*FUENTES*/
  
@font-face{
    font-family: quick ;
    src: url(../asset/Fuentes/Quicksand-Regular.ttf)

}


@font-face{
    font-family: opensans  ;
    src: url(../asset/Fuentes/OpenSans-Regular.ttf)

}

@font-face{
    font-family: orbi ;
    src: url(../asset/Fuentes/Orbitron-Regular.ttf)

}

@font-face{
    font-family: poppins ;
    src: url(../asset/Fuentes/Poppins-Regular.ttf)

}



