/*HEADER*/ 
  /*Aca comence a darle estilos al header*/
  /* queria hacer un header */
  
  /*NAV*/ 
  /*Use el nav de boodstrap*/
  /*Personalice el menu como yo lo queria 
  ANIDE TODO Y QUEDO MAS ORDENADO Y CON MAYOR ESPICIDAD*/
  
  header{
    background-color: $color-header;
    position: sticky;
    top: 0px;
    z-index: 10;
    backdrop-filter: blur(2px );
    -webkit-backdrop-filter: blur(2px);
    border-bottom:1px solid #4b0b2b78;

    .navbar{

      .ninety{

        font-size:1.7rem ;
        font-weight: bold;
        font-family: orbi;
        color: rgb(53, 172, 246);
        text-shadow: 0px 0px 6px rgba(40, 130, 255, 0.796);
        letter-spacing: $espacio-palabra-2;
        transition: all 0.8s;

        &:hover{
          color: rgb(255, 59, 157);
          text-shadow: 0px 0px 7px rgba(255, 48, 124, 0.796);
          transform: scale(1.1);
        }
      }

     
      
      .navbar-nav{
        
          .nav-item{
            
              .nav-link {
                
                  color: $color-rosa;
                  letter-spacing: $espacio-letra-3;
                  font-size: map-get($fs, fs-08 );
                  font-weight: bold;
                  transition: all 0.8s;
                  
                  
                  
                    /* UTILICE CASI TODO VARIABLES PARA HACER EL HOVER*/
                  &:hover{
                      font-weight: map-get($fw, f-bold );
                      color: rgb(37, 214, 249);
                      text-shadow: 0px 0px 6px rgb(56, 169, 255);
                      border: $borde-s solid $color-borde;
                      border-radius: $borde-sm;
                      background-color: $color-violeta-obscuro ;
                      box-shadow:2px 2px 50px 2px $color-rosa;
                      
                      transform: scale(1.2);
                      
                  }
              }

          }
      }
    }

  }



  @media (max-width: 480px) {


    header{
      
  
      .navbar{
        
        .ninety{
          font-size:map-get($fs, fs-1-2 ) ;
          letter-spacing: $espacio-letra-3-5;

        }
       
      }
  
    }
  }
