

main{


    .contenedor_envios{
        margin-top: 8vh;
        margin-bottom: 8vh;

        div{
           
            img{

            }
        }

        div{
           
            
            h4{
              letter-spacing: $espacio-letra-4;
               font-weight:map-get($fuente-grosor, negrita );
               color: $color-rosa-3;
            }

            p{
                letter-spacing: 1px;
               line-height: 2;
               
            }
            
        }
       
    }

      
      
}


@media (max-width: 480px) {

    main{


        .contenedor_envios{
            margin-top: 4vh;
            margin-bottom: 4vh;
    
           
           
        }
    
          
          
    }
    
}


