

main{


    .contenedor_envios{
        margin-top: 80px;

        div{
            background-color: aqua;
            img{

            }
        }

        div{
            background-color: rgb(0, 0, 0);
            
            h4{
              letter-spacing: $espacio-letra-4;
               font-weight:map-get($fuente-grosor, negrita );
               color: $color-rosa;
            }
            
        }
       
    }

      
      
}

