/*CARDS de los cuadros*/

.container-fluid{

    .titulo{
        font-size: map-get($fs, fs-2 );
        line-height: 3;
        padding-top: map-get($padding,p-5 );
        padding-bottom: map-get($padding, p-25);
        margin-bottom: map-get($margenes,m-20 );
        letter-spacing: $espacio-letra-4;
        text-shadow: 2px 2px 2px rgb(196, 1, 111);
    }


   

    .row{

        .caja_tarjetas {

            @include cards_peliculas;
          
                &:hover{
                 transform: translateY(-20px);
                }
             
                .contenido_img {
                    @include cards_img;

                    img{
                      height: $alto-maximo;
                      width: $ancho-maximo-2;
                      transition: all 600ms;
         /* aplique un poco de animacion al tocar con el cursor*/
                        &:hover{
         
                          transform: scale(1.2);
         
                        }
         
                       
                     
                    }
              
                }
         
                .borde_titulos{
                 
                 text-shadow: 5px 3px 1px rgb(147, 7, 72);
                 border: $borde-s solid $color-borde;
                 background-color: #f168cf00;
                 border-radius: $borde-sm;
                }


            div{

                form{
                    
                    .boton_comprar {
                        font-weight:map-get($fw, f-bold );
                        width: 7em;
                        color: $color-fuente;
                        background: $color-transparente;
                        border-radius: $borde-sm;
                        border: $borde-s solid  $color-violeta-2;
                        
                        &:hover {
                            font-weight: bold;
                            color: $c-negro;
                            background: $color-blanco;
                            box-shadow: 0 0 5px $color-violeta, 0 0 25px $color-rosa, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                            width: 8em;
                            height: 2em;
                            transform: scale(1.1);
                            transition: all 0.8s;
                        }
                    
                      
                    }


                }
            }
         
         
        }


        div{

            form{

                .boton_vermas{

                    font-weight:map-get($fw, f-bold );
                    color: $color-fuente;
                    background: $color-transparente;
                    border-radius: $borde-sm;
                    border: $borde-s solid  $color-violeta-2;
                                      
                   &:hover {
                    
                    font-weight: bold;
                    color: $c-negro;
                    background: #f9f9f9d7;
                    box-shadow: 0 0 5px $color-violeta, 0 0 25px $color-rosa, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                    transform: scale(1.1);
                    transition: all 0.8s;
                   }

                }
            }
        }

    }


}
  








@media (max-width: 480px) {


    .container-fluid{

        .titulo{
            font-size:map-get($fs,fs-1-5 ) ;
            padding-top: map-get($padding, p-7 );
            padding-bottom: map-get($padding, p-5 );
            margin-top:0vh ;
            margin-bottom: 0vh;
            line-height: 2;
            letter-spacing:$espacio-letra-3-5;
    
        }

    }


}

/*@media  screen and (min-width: 360px) and (max-width: 768px) {
	
}*/





