/*CARDS*/

.container-fluid{

    .titulo{
        /*background-color: rgba(22, 7, 36, 0);*/
            
        font-size: 2.3rem;
        line-height: 3;
        padding-top: 7vh;
        padding-bottom: 25vh;
        margin-bottom: 20vh;
        letter-spacing: 15px;
       /* text-shadow: 7px 2px 2px rgb(147, 7, 72);*/
        text-shadow: 2px 2px 2px rgb(196, 1, 111);
    }


   

    .row{

        .caja_tarjetas {
            /* width:24% ;
             height:97vh ;*/
            height: 730px;
            width: 350px ;
            margin-bottom: 5em;
            box-shadow: 3px 3px 50px 3px  rgba(235, 8, 193, 0.453);
            background: $color-transparente;
            border-radius: $borde-m;
            border: $borde-s solid $color-borde ;
            backdrop-filter: blur(2px );
            -webkit-backdrop-filter: blur(2px);
            transition: all 600ms;
               &:hover{

                transform: translateY(-20px);
              }
             
                .contenido_img {
                 height: 400px;
                 width:  290px;
                 border-radius: $borde-m ;
                 overflow: hidden;
         
                    img{
                      height: $alto-maximo;
                      width: $ancho-maximo-2;
                      transition: all 600ms;
         /* aplique un poco de animacion al tocar con el cursor*/
                        &:hover{
         
                          transform: scale(1.2);
         
                        }
         
                       
                     
                    }
              
                }
         
                .borde_titulos{
                 
                 text-shadow: 5px 3px 1px rgb(147, 7, 72);
                 border: $borde-s solid $color-borde;
                 background-color: #f168cf00;
                 border-radius: $borde-sm;
                }


            div{

                form{
                    
                    .boton_comprar {
                        font-weight:map-get($fuente-grosor, negrita );
                        width: 7em;
                        color: $color-fuente;
                        background: $color-transparente;
                        border-radius: $borde-sm;
                        border: $borde-s solid  $color-violeta-2;
                        
                        &:hover {
                            font-weight: bold;
                            color: $color-negro;
                            background: #f9f9f9d7;
                            box-shadow: 0 0 5px $color-violeta, 0 0 25px $color-rosa, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                            width: 8em;
                            height: 2em;
                            transition: all .5s;
                        }
                    
                      
                    }


                }
            }
         
         
        }

    }


}
  








@media (max-width: 480px) {


    .container-fluid{

        .titulo{
            padding-top: 0vh;
            padding-bottom: 5vh;
            
            margin-top:0vh ;
            margin-bottom: 5vh;
            line-height: 2;
          
            line-height: 3;
            letter-spacing: 6px;
    
        }

    }



   



}

/*@media  screen and (min-width: 360px) and (max-width: 768px) {
	
}*/

/* LINK 3 */



