.titulo_paginas{
    background-color: #100309ad;
    border-bottom: 3px solid #3f0823b8;
    height: 7vw;

    div{

        h4{
        
            color:$color-rosa ;
            border-left: 4px solid $color-rosa;
            padding-left: 15px;
            letter-spacing: 8px;
            
        }
    }
    
}


.section_propaganda{
    margin-top: 100px;
    box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
    /*box-shadow: 0px 0px 50px rgb(255, 1, 208);*/
    border-top: 2px solid $color-violeta;
    border-bottom: 2px solid $color-violeta;
    height: 30vw;
    width: 100%;
    background-color: rgb(0, 0, 0);

    div{
       

        h2{
            line-height: 2;
            letter-spacing: 2px;
            word-spacing: 4px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            text-shadow: 5px 0px 20px rgba(18, 62, 132, 0.696);

        }

        span{
            color: $color-rosa;
            font-size: 45px;
        }


        p{ 
            padding-top: 30px;
            line-height: 2;
            letter-spacing: 2px;
            word-spacing: 4px;
            font-weight: 300;
            color: rgb(238, 50, 201);
            text-shadow: 5px 0px 20px rgba(18, 62, 132, 0.696);
        }

    }
    
    .contenedor_propaganda{
      height: 18vw;
      width: 18vw;

      img{

      }
    }

}
main{
    .contenedor_productos{
      
       padding-top: 100px;
    }
}