

main{


    .contenedor_envios{
        margin-top: 80px;

        div{
            background-color: aqua;
            img{

            }
        }

        div{
            background-color: rgba(0, 0, 0, 0);
            
            h4{
              letter-spacing: $espacio-letra-4;
               font-weight:map-get($fuente-grosor, negrita );
               color: $color-rosa-3;
            }

            p{
                letter-spacing: 1px;
               line-height: 2;
               color: $color-fuente;
            }
            
        }
       
    }

      
      
}

