
/* PAGINA INFORMACION*/
  

main{
   
    .section_80{
        height: 1000px;
        position: relative;
        background:  url(../asset/imagenes/404/et-enbici-fondo.jpg) ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $color-transparente;
        /*box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);*/
        border-radius: $borde-s;
        /*border: 3px solid rgba(161, 48, 218, 0.362);*/
        backdrop-filter: blur(2px );
        -webkit-backdrop-filter: blur(2px);

        .info_80{
            margin-top: 60px;
            padding-top: 80px;
            


            img{
                

                
            }
            .texto_80_90{
            
                font-size: 18px;
                line-height: 2;
                letter-spacing: 1px;
                word-spacing: 2px;
            }

        }

        .caja_video{
            padding-top: 5px;
            margin-left: 150px;
            margin-top: 700px;
            width:70%;
            border: 4px solid rgba(0, 0, 0, 0.623);
        }
    

    }

    .section_90{

        height: 1000px;
        position: relative;
        background:  url(../asset/imagenes/Seccion_ifo/mipobreangelito-fondo.jpg) ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $color-transparente;
        /*box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);*/
        border-radius: $borde-s;
        /*border: 3px solid rgba(161, 48, 218, 0.362);*/
        backdrop-filter: blur(2px );
        -webkit-backdrop-filter: blur(2px);
        margin-top: 100vh;

        .info_80{
            margin-top: 60px;
            padding-top: 80px;

            .texto_80_90{
            
                font-size: 18px;
                line-height: 2;
                letter-spacing: 1px;
                word-spacing: 2px;
            }

        }

        .caja_video{
            padding-top: 5px;
            margin-left: 80px;
            margin-top: 700px;
            width:70%;
            border: 4px solid rgba(0, 0, 0, 0.623);
        }
    



    }

    h3{
        text-shadow: 5px 3px 1px rgb(147, 7, 72);
        font-size: 40px;
        line-height: 2;
        word-spacing: $espacio-palabra-2;
        letter-spacing: $espacio-letra-4;
        font-weight: map-get($fuente-grosor, negrita );
        /*text-shadow: 5px 0px 20px rgb(255, 0, 208);*/
        padding-top: 150px;
        padding-bottom: $padding-30;

        
    }

    .caja_informacion{

        padding-top: 5px;
        height: 35rem;
        margin-top: 5px;

        .caja_texto{
           
          
            .texto_info{
               
                line-height: 2;
                word-spacing: $espacio-letra-2;
                font-weight:map-get($fuente-grosor, fina );
                

            }

        }
    }

    div{
        .contenedor_img{
            
            background-image: linear-gradient(to right top, #33071c, #2d081a, #270818, #220715, #1d0512, #1a040f, #16020c, #110108, #0e0106, #0a0003, #050002, #000000);
              
            
            
        }
    }

}


   
