
/* MAIN INFORMACION*/
  

main{
   
    .section_80{
      
        position: relative;
        background:  url(../asset/imagenes/info/et-enbici-fondo-min.jpg) ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $color-transparente;
        

        .info_80{

            padding-left: map-get($padding, p-15 );
            padding-top: map-get($padding, p-2 );
            padding-bottom: map-get($padding, p-10 );

            .titulo_80{

                @include logo_info;
                text-shadow: 0px 0px 10px rgba(240, 1, 133, 0.63);
                color:rgba(255, 101, 181, 0.63) ;
            }
            

            
            .texto_80_90{
            
                line-height: 2;
                letter-spacing: $espacio-letra-1;
                word-spacing:$espacio-palabra;
            }

        }

       

    }


    /*Estilos para los logos de las peliculas*/

    .container-fluid{
        
        padding-top: map-get($padding, p-30 );
        padding-bottom: map-get($padding, p-30 );

        h4{
            font-family:monserrat_fina;
            padding-bottom: map-get($padding, p-5 );

        }

        .caja_logos_peliculas{
            
            padding-top: map-get($padding,p-20 );

            .contenedor_img_info{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #a1a0a100;
                width:250px ;
                height: 200px;
            
            
                img{
                   
                    transition: all 700ms;

                    &:hover {

                        transform: scale(1.6);
                      
                    }
                }
            }

        }

        
    }

    .section_90{

        
        position: relative;
        background:  url(../asset/imagenes/info/mipobreangelito-fondo-min.jpg) ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $color-transparente;
       

        .info_90{
            padding-right:  map-get($padding , p-15 );
            padding-top: map-get($padding, p-2 );
            padding-bottom:  map-get($padding , p-10 );


            .titulo_90{
                @include logo_info;
                text-shadow: 0px 0px 10px rgba(174, 85, 246, 0.63);
                color:rgba(0, 176, 240, 0.63) ;
            }

            .texto_80_90{
            
                line-height: 2;
                letter-spacing: $espacio-letra-1;
                word-spacing: $espacio-palabra;
            }

        }

       
    

    }

    


  
}


@media (max-width: 480px) {

  
main{
   
    .section_80{
        
        background-color: $c-negro;
       
        .info_80{
            padding-left: 0vh;
            padding-bottom:  map-get($padding , p-5 );

            .titulo_80{
               
                font-size:  map-get($fs , fs-5 );
                padding-bottom:  map-get($padding , p-5 );
            }
            



            
        }

      
    }

    /* Logos de peliculas*/

    .container-fluid{ 
       
        padding-top: map-get($padding , p-5 );
        padding-bottom:  map-get($padding , p-5 );

        h4{
            font-size:map-get($fs,fs-1 );
            padding-bottom: 0px;
            line-height: 3;


        }

        .caja_logos_peliculas{
             
            padding-top:map-get($padding,p-1 );
            padding-bottom:map-get($padding,p-5 ) ;

            .contenedor_img_info{
                margin-top: map-get($margenes , m-10 );
                margin-bottom: map-get($margenes ,m-1 );
                background-color: #a1a0a100;
                width: 90vw ;
                height: 20vw;
                
            
            
                img{
                    width:100% ;
                    height:100%;
                    transition: all 700ms;

                    &:hover {

                        transform: scale(1.6);
                      
                    }
                }
            }

        }

        
    }

    .section_90{

        background: none;
        background-color: $c-negro;
    
        .info_90{
            padding-right: 0vh;
            padding-top:map-get($padding, p-10 );
            padding-bottom:  map-get($padding , p-5 );

            .titulo_90{
               
                font-size:  map-get($fs , fs-5 );
                padding-bottom: map-get($padding, p-5 );
            }

          

        }

       

    }

  
   

}





}
   
