/* Hice mapas para que sea mas ordenado*/

/*TAMAÑO FUENTE*/

$fs:(  

    fs-05: 0.5rem,
    fs-08:0.8rem,
    fs-1: 1rem,
    fs-1-2:1.2rem,
    fs-1-5: 1.5rem,
    fs-2: 2rem,
    fs-2-5: 2.5rem,
    fs-3: 3rem,
    fs-3-5: 3.5rem,
    fs-5:5rem,
    fs-10: 10rem,

);



/*GROSOR FUENTE*/

$fw: (

    f-1:100,
    f-2: 200,
    f-3: 300,
    f-4: 400,
    f-5: 500,
    f-6: 600,
    f-bold:bold,
    f-8:900,

);


/*MARGENES*/

$margenes:(
    m-1:1vh,
    m-4:4vh,
    m-5: 5vh,
    m-8:8vh,
    m-10: 10vh,
    m-15: 15vh,
    m-20: 20vh,
    m-25: 25vh,
    m-30: 30vh,
    m-35: 35vh,
    m-40: 40vh,

);



/*PADDING*/

$padding:(
    p-1:1vh,
    p-1-5:1.5vh,
    p-2:2vh,
    p-5: 5vh,
    p-7:7vh,
    p-10: 10vh,
    p-15: 15vh,
    p-20: 20vh,
    p-25: 25vh,
    p-30: 30vh,
    p-35: 35vh,
    p-40: 40vh,

);

