@mixin fondo_img {
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}
/*lo utilice para los iconos del footer*/
@mixin flex_centrado {
    position: relative;
    display:flex;
    justify-content: center;
}