.pantalla_principal{

    position: relative;
    background:linear-gradient(rgba(255, 0, 111, 0.196), rgb(0, 0, 0) ),  url(../asset/imagenes/seccion_inicio_fondos/pantalla-principal-1440-768.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    p{
        font-size: 40px;
        font-weight: bold;
        word-spacing:4px;
        letter-spacing: 4px;
        padding-top:300px ;
        padding-bottom:30px ;
        
        color: rgba(255, 255, 255, 0.693);
        text-shadow: 5px 6px 1px rgb(147, 7, 72);
    }
    
    span{
        
        
        font-size: 60px;
        color: $color-rosa;
    }

    .salto_pagina{
        padding-top: 50px;
        padding-bottom: 100px;

        .salto_pagina_icono{
            font-size: 70px;
           /* text-shadow: 0px 20px 2px black;*/
            color: rgba(255, 255, 255, 0.234);
        }
    }

}


/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
   @media (max-width: 767px) { 


}

 

/* Móviles en vertical 
------------------------------------------------------------------------- */
@media (max-width: 480px) {

    .pantalla_principal{
        position: relative;
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5) ),url(../asset/imagenes/seccion_inicio_fondos/pantalla-principal-mobile.jpg) ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;
        /* background: rgb(0, 0, 0);*/
       
        p{
            font-size:  1.5em;
            line-height: 3;
            word-spacing:10px;
            letter-spacing: 2px;
            padding-top:150px ;
           
        }
        
        span{
            
            font-size:  1em;
            
        }
    
        .salto_pagina{
            
            padding-bottom: 6em;
           
    
            .salto_pagina_icono{
                font-size: 50px;
               
            }
    
        }

   


    }
}





  



