/*SECTION 80 Y 90 */
  
  
.section_80_90{
    padding-top: 20%;
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ),  url(../asset/imagenes/index/fondo-section_80_90_grande.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-transparente;
    border-radius: $borde-s;
    backdrop-filter: blur(2px );
    -webkit-backdrop-filter: blur(2px);

    .fila_80_90{
        
        padding-bottom: 20%;
          

        div{
            div{
                
               
                
                a{
                    img{
                      
                      border-radius: 10px;
                      transition: all 600ms;

                        &:hover {
                          transform: translateY(-20px);
                          box-shadow: 0 0 5px $color-negro, 0 0 25px $color-violeta, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                        }
                    }
                }
            }
        }

        div{

            p{
                font-size: 20px;
                font-weight: lighter;
                line-height: 2;
                word-spacing: 2px;
            }
        }
        
    }


     
}



  

 
  

 