.titulo_paginas{
    background-color: #100309ad;
    border-bottom: 3px solid #3f0823b8;
    height: 12vh;

    div{

        h4{
            text-shadow: 2px 2px 2px rgb(196, 1, 111);
            color:$color-fuente ;
            border-left: 4px solid $color-rosa;
            padding-left: 15px;
            letter-spacing: $espacio-palabra-2;
            
        }
    }
    
}

@media (max-width: 480px) {

    .titulo_paginas{
        
        border-bottom: 2px solid #3f0823b8;
        height: 7vh;
    
        div{
    
            h4{
                font-size: 18px;
                border-left: 4px solid $color-rosa;
             
                
            }
        }
        
    }
}

  /* 
    UTILICE MEDIAQUERIE PARA MODIFICAR LA SECTION DEL TITULO QUE SE ME QUEDABA MUY CHICA CUANDO ESTABA EN MODO MOBILE Y TABLET
   
  */
  
@media (min-width: 481px) and (max-width: 1024px) {
    
    .titulo_paginas{
       
        height:8vh ;
    
    }
    
    
}
  

  
  
    







 