/*SECTION 80 Y 90 */
  
  
.section_80_90{
    margin-top: 2%;
    padding-top: 15%;
    padding-bottom: 15%;
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ),  url(../asset/imagenes/index/fondo-section_80_90_grande.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-transparente;
    /*box-shadow: 20px 20px 50px rgba(98, 8, 140, 0.57);*/
    border-radius: $borde-s;
    /*border: 3px solid rgba(161, 48, 218, 0.362);*/
    backdrop-filter: blur(2px );
    -webkit-backdrop-filter: blur(2px);

    .fila_80{

          padding-bottom: 15%;
          

        div{
            div{
                a{
                    img{

                      border-radius: 10px;

                        &:hover {

                          box-shadow: 0 0 5px $color-negro, 0 0 25px $color-violeta, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                        }
                    }
                }
            }
        }

        div{

            p{
                font-size: 20px;
                font-weight: lighter;
                line-height: 2;
                word-spacing: 2px;
            }
        }
        
    }


    .fila_90{

        padding-top: 10%;

      div{
          div{
              a{
                  img{

                    border-radius: 10px;

                      &:hover {

                        box-shadow: 0 0 5px $color-negro, 0 0 25px $color-violeta, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                      }
                  }
              }
          }
      }

      div{

          p{
              font-size: 20px;
              font-weight: lighter;
              line-height: 2;
              word-spacing: 2px;
          }
      }
      
  }

    
     
}


@keyframes float {
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-25px); 
    }
    100%{
        transform: translateY(0); 
    }
}

  

 
  

 