
.contenedor_2x1{
    border-top: $borde-s solid $color-violeta;
    border-bottom: $borde-s solid $color-violeta;
    box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);
    background-color: rgb(0, 0, 0)!important ; 
    width: $ancho-maximo;

    .section_propaganda{
        /*margin-top: 10vh;*/
        /*box-shadow: 3px 3px 50px 3px rgba(235, 8, 193, 0.453);*/
        /*box-shadow: 0px 0px 50px rgb(255, 1, 208);*/
       /* border-top: $borde-s solid $color-violeta;
        border-bottom: $borde-s solid $color-violeta;*/
        height: 35vw;
        width: $ancho-maximo;
        
            
        
        div{
               
        
            h2{
                font-size: 2vw;
                line-height: 2;
                letter-spacing: $espacio-letra-2;
                word-spacing: $espacio-palabra-1;
                font-weight: map-get($fuente-grosor, negrita );
                color: rgb(255, 255, 255);
                text-shadow: 5px 0px 20px rgba(18, 62, 132, 0.696);
        
            }
        
            span{
                color: $color-rosa;
                font-size: 4vw;
            }
        
        
            p{ 
                font-size: 1vw;
                padding-top: 0.8vh;
                line-height: 2;
                letter-spacing: $espacio-letra-2;
                word-spacing: $espacio-palabra-1;
                font-weight: map-get($fuente-grosor, fina-3 );
                color: $color-rosa;
                text-shadow: 5px 0px 20px rgba(18, 62, 132, 0.696);
            }
        
        }
            
        .contenedor_propaganda{
            height: 30vw;
            width: 30vw;
              
        
            img{
        
            }
        }
        
    }
    
    
    
    

}

