 .hr{
    margin-top: $margen-secciones;
    border-bottom:3px solid $color-borde;
    width: 100%;
  }
  
  
  
  .separacion{
  
    margin-top: $margen-secciones;
    margin-bottom: $margen-secciones;
  }
  
  