.section_suscripcion{
    background-color: rgb(0, 0, 0);
    padding-top:15% ;
    padding-bottom: 15% ;

    .contenedor_suscripcion{
        font-size: 1em;



        div{

            p{

            }

            .resaltado{
                text-shadow: 2px 2px 2px rgb(196, 1, 111);
            }


            .form_index {
                width: 100%;
                    
                input {
                
                    width: 600px;
                    padding: .7em;
                    border: none;
                    background: rgba(0, 0, 0, 0);
                    outline: none;
                    color: $color-fuente;
                    border: $borde-s solid rgba(70, 37, 69, 0.675);
                }
              
                div{
    
                    .btn_env{
                        
                        font-weight:map-get($fuente-grosor, negrita );
                        width: 8em;
                        color: $color-fuente;
                        background: $color-transparente;
                        border-radius: $borde-sm;
                        border: $borde-s solid  $color-violeta-2;
                        
                        &:hover {
                            
                            font-weight: bold;
                            color: $color-negro;
                            background: #ffffffd7;
                            box-shadow: 0 0 5px $color-violeta, 0 0 25px $color-rosa, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
                            
                            width: 8em;
                            transition: all .5s;
                        }
                    }  
                }
    
            }


        }

       


        
            
    }
}


.boton_comprar1{
   
    font-weight:map-get($fuente-grosor, negrita );
    width: 13em;
    height: 3em;
    padding-top: 7px;
    
    color: $color-fuente;
    background: $color-transparente;
    border-radius: $borde-sm;
    border: $borde-s solid  $color-violeta-2;
    
    &:hover {
        font-weight: bold;
        color: $color-negro;
        background: #f9f9f9d7;
        box-shadow: 0 0 5px $color-violeta, 0 0 25px $color-rosa, 0 0 50px $color-rosa, 0 0 200px $color-violeta;
        width: 8em;
        height: 2em;
        transition: all .5s;
    }
}  



@media (max-width: 480px) {

    .section_suscripcion{
       
        padding-bottom: 20% ;
    
        .contenedor_suscripcion{
            font-size: 0.9em;

            div{

                p{
                    line-height: 2;

                }

              
                .form_index {
                    width: 100%;
                    
                    input {
                
                      width: 300px;
                       padding: .7em;
                   
                    }
              
                    div{
    
                        .btn_env{
                          margin-top: 40px;
                          font-size: 0.7em ;
                        
                        }  
                    }

                }
    
          
    
            }
                
        }
    }
}