
/*TIPOGRAFIA*/

$fuente-principal: monserrat;
$fuente-principal-2: monserrat_fina;
$fuente-logo: orbi ;



/*ESPACIADOS*/

/*letras*/
$espacio-letra-1: 1px;
$espacio-letra-2: 2px;
$espacio-letra-3:5px;
$espacio-letra-3-5:8px;
$espacio-letra-4:10px;

/*palabras*/
$espacio-palabra:2px;
$espacio-palabra-1: 5px;
$espacio-palabra-2:10px;

/*TAMAÑOS*/

$ancho-maximo: 100%;
$ancho-maximo-2:110%;
$alto-maximo: 100%;

/*BORDES*/

$borde-s: 2px;
$borde-sm:5px;
$borde-m: 15px;
$borde-l: 20px;




/*COLORES*/



/*colores del logo*/
$c-celeste-1:rgb(53, 172, 246);
$c-celeste-2:rgba(40, 130, 255, 0.796) ;
$c-rosa-1:rgb(255, 59, 157);
$c-rosa-2:rgba(255, 48, 124, 0.796);

/*colores para el footer*/

$c-gris:rgb(99, 99, 99);
$color-facebook: #2b5c9c;
$color-wp: #13873e;

$c-fondo:rgb(1, 1, 10);
$c-banner-info: rgba(3, 2, 25, 0.5);
$c-negro:black;
$c-negro-transparente :rgba(0, 0, 0, 0.285);
$c-fondo-titulos:#100309ad;
$c-sombra-violeta:rgba(235, 8, 193, 0.453);
$color-fuente: #cbcbcbe4 ;
$color-header : #000000d4 ;
$color-rosa: rgb(255, 13, 130);
$color-fondo : #000000 ;
$color-rosa-2 :rgb(239, 90, 190);
$color-borde :rgb(255, 13, 130);
$color-violeta-medio:#520880;
$color-violeta:#e537e887;
$color-violeta-2: rgb(255, 0, 76);
$color-violeta-obscuro :#10000dfc;
$color-transparente:#00000032;
$color-transparente-blanco: #ffffff36;
$color-blanco :#ffffff;
$color-gris-fuente: #a4a4a497;
$color-n-gradiente-1: rgba(0, 0, 0, 0.547);
$color-n-gradiente-2:rgba(0,0,0,0.5);
$color-rosa-claro: rgb(247, 137, 210);
$color-rosa-3: rgb(255, 13, 130);
$color-rosa-4: rgb(255, 0, 76);


