
/*TIPOGRAFIA*/

$fuente-principal: monserrat;
$fuente-principal-2: monserrat;
$fuente-logo: orbi ;

/*TAMAÑO FUENTE*/
$fuente-s:12px;
$fuente-m: 1em;
$fuente-l: 18px;
$fuente-xl:30px;
$fuente-xxl:44px;
$fuente-grande: 6vw;

/* hice solo un mapa que es este GROSOR FUENTE*/
$fuente-grosor: (

    fina:100,
    fina-2: 200,
    fina-3: 300,
    normal: 400,
    normal-2: 500,
    gruesa: 600,
    negrita:bold,
    negrita-2:900,

);



/*COLORES*/

$color-fuente: #cbcbcbe4 ;
$color-fondo : #000000 ;
$color-header : #000000d4 ;
$color-rosa-2 :rgb(239, 90, 190);
$color-borde :rgb(255, 13, 130);
/*$color-borde :#42063eb3;*/
$color-violeta-medio:#520880;
$color-violeta:#e537e887;
/*$color-violeta-2: rgba(121, 7, 81, 0.689);*/
$color-violeta-2: rgb(255, 0, 76);
$color-violeta-obscuro :#10000dfc;
$color-negro-transparente :rgba(23, 23, 23, 0.437)f;
$color-transparente:#00000032;
$color-transparente-blanco: #ffffff36;
$color-blanco :#ffffff;
$color-gris-fuente: #a4a4a497;
$color-negro:#000000;
$color-n-gradiente-1: rgba(0, 0, 0, 0.547);
$color-n-gradiente-2:rgba(0,0,0,0.5);
$color-facebook: #2b5c9c;
$color-wp: #13873e;
$color-rosa-claro: rgb(247, 137, 210);
$color-azul-obscuro : #130847;
$color-celeste: #3ce7ed;
$color-rosa-3: rgb(255, 13, 130);
$color-rosa-4: rgb(255, 0, 76);
$color-rosa: rgb(255, 13, 130);



/*ESPACIADOS*/

/*letras*/
$espacio-letra-1: 1px;
$espacio-letra-2: 2px;
$espacio-letra-3:5px;
$espacio-letra-4:10px;

/*palabras*/
$espacio-palabra-1: 5px;
$espacio-palabra-2:10px;

/*TAMAÑOS*/

$ancho-maximo: 100%;
$ancho-maximo-2:110%;
$alto-maximo: 100%;

/*BORDES*/

$borde-s: 2px;
$borde-sm:5px;
$borde-m: 15px;
$borde-l: 20px;

/*MARGENES*/

$margen-s: 15px; 
$margen-secciones:100px;

/*PADDING*/
$paddin-20: 20px;
$padding-30: 30px;
$paddin-100:100px;

/*SOMBRAS*/
