  
 
  
  /*USO ESTA CLASE PARA TEXTOS CHICOS CON POCA IMPORTANCIA*/
  .fuente_pequeña{

    font-size: $fuente-m;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: rgb(230, 188, 20);
  }
  
  
  